[2018-04-15 05:36] AaronCoplan opened #2 "Removing prop-types from package.json"
Are we able to remove prop-types as a dependency since we are using flow?

[2018-04-15 05:37] AaronCoplan opened #3 "Finish community profile"
- Description
- Tags
- Code of Conduct
- Contributing
- Improved README/docs

[2018-04-15 06:42] AaronCoplan opened #4 "Refactor filenames to end with .react.js or .js depending on functionality."

[2018-04-16 07:43] maracuja-juice commented on #4
Why not make this with folders instead? (like a components folder and a util folder.)

[2018-04-16 11:05] AaronCoplan commented on #4
The primary motivation for doing it this way is so it is also very clear which type something is when you are importing i.e. `import Form from './Form.react';` vs `import nullthrows from ./nullthrows;`

[2018-04-16 14:37] #2 closed

[2018-04-16 14:38] AaronCoplan opened #9 "Removing / using eslint?"
Are we using eslint for anything?  Since we are using prettier, I'm not sure if ES lint is serving any other purpose - I may be wrong though.  If we are not using it that would really clean up our package.json file.

[2018-04-16 18:30] jonthomp commented on #4
Everything is renamed now

[2018-04-16 18:30] #4 closed

[2018-04-16 19:15] jonthomp commented on #9
What's there at the moment just came from the initial setup, I was thinking maybe keep it but change to match what is used in create-react-app, they've got a nice baseline that would help keep to a code style especially if we get a lot of contributors?

[2018-04-16 19:48] jonthomp opened #10 "Build all base components"
We need help getting all the base components built, anything without a user next to it is available so just let us know what your working on and we'll keep the list updated:

- [x] Avatar
- [x] Badge
- [x] Button
- [x] Basic Card
- [x] Card Footer
- [x] Pricing Card
- [x] Store Card
- [x] Gallery Card
- [x] Container
- [x] Dropdown
- [x] Dimmer
- [x] Form
- [x] Form select button groups
- [x] Form

[2018-04-16 19:49] jonthomp opened #11 "Build all documentation pages"
- [x] Intro
- [x] Alerts
- [x] Avatar
- [x] Buttons
- [x] Cards
- [x] Charts
- [x] Colors
- [x] Form Components
- [x] Tags
- [x] Typography

[2018-04-16 19:50] jonthomp opened #12 "Build all demo pages"
- [x]  Home/Dashboard
---
Interface
- [x] Cards Design
- [x] Charts
- [x] Pricing Cards
---
Components
- [ ] Maps
- [ ] Icons
- [x] Store
- [ ] Blog
- [ ] Carousel
---
Pages
- [ ] Profile @MrJarv1s
- [x] Register
- [x] Login
- [x] Forgot Password
- [x] 400 error
- [x] 401 error
- [x] 403 error
- [x] 404 error
- [x] 500 error
- [x] 503 error
- [x] Email
- [x] Empty Page
- [ ] RTL mode
---
- [x] For

[2018-04-16 20:06] AaronCoplan commented on #11
I think we could actually build our own documentation pages - since our components are React and take properties I think we should do it a little differently than the Tabler repo does

[2018-04-16 20:14] AaronCoplan commented on #9
Ok cool - I'll leave that for you to do then

[2018-04-16 20:43] MrJarv1s commented on #11
@AaronCoplan, @jonthomp

Just noticed that you were working on a React component for `tabler` and I am quite interested in the idea. I'd love to help.

I understand that the project is still in early stages and don't expect issues to arise much right now, but feel free to ask for help in the issues.

Cheers!

[2018-04-16 21:11] AaronCoplan opened #13 "Export flow types"
We need to export flow types for our module - even in the examples directory it does not know the flow types.  [This article](https://medium.com/netscape/shipping-flowtype-definitions-in-npm-packages-c987917efb65) seems to provide some good information on this

[2018-04-16 21:25] AaronCoplan commented on #13
@jonthomp  The commit that references this should fix the problem, and even fix the typing issues you discussed with the `function MyElement(props: Props): React.Node {` because it is all defined now.  This will lead to some slight bloat in package size as discussed in the the article I linked, but the flow team is working on a built in command to do this in a minified fashion (also in article) so

[2018-04-16 21:39] AaronCoplan commented on #11
@MrJarv1s We'd love all the help we can get!  If you want to get started on something it would be awesome if you could start working on the gallery page (see #12) [demo](https://tabler.github.io/tabler/gallery.html).  If that doesn't sound exciting, feel free to work on something else too!  Feel free to reach out to us if you need any help

[2018-04-16 21:56] jonthomp commented on #11
@AaronCoplan I totally agree and is my intention, I had some ideas for building a little something ourselves but do you know of an existing solution or have any ideas yourself?

@MrJarv1s welcome!

[2018-04-16 22:09] jonthomp opened #15 "Add prettier config"

[2018-04-16 22:16] AaronCoplan commented on #11
@jonthomp I have a local branch for this - I'll tag you in this in a little once i have POC done

[2018-04-16 23:10] AaronCoplan commented on #13
Closing this for now, can be reopened if necessary when the flow command is available.

[2018-04-16 23:10] #13 closed

[2018-04-16 23:25] MrJarv1s commented on #12
Are we trying to reproduce the demo pages that are presented on `tabler`?

[2018-04-17 01:51] MrJarv1s commented on #12
I've made a fork, I'll be working on components since I can resolve one at a time based on you guys' advancements. I've assumed a yes to my earlier question.

[2018-04-17 01:58] AaronCoplan commented on #12
Hey - sorry for the lack of response.  Yes we are trying to build out the components in React (not necessarily matching 1:1 to the tabler repo) and then trying to replicate the demo pages.

[2018-04-17 02:03] MrJarv1s commented on #12
Perfect, I'll try to match their component pages as seen in [tabler/dist]( https://github.com/tabler/tabler/tree/dev/dist). Now you guys seem to be working pretty hard at it (at least today), I'll do my best to get working on the demos.

[2018-04-17 02:28] AaronCoplan opened #16 "Refactor Button.react.js to accept type similar to Alert.react.js"
Having booleans for
[code]
is a little messy.  If someone took the time to refactor this that would be a great first issue

[2018-04-17 02:42] AaronCoplan opened #17 "Look into usage of `children?` in almost all components"
Composition is great, but there are some cases where it might be better to change `children?: React.Node` to be `title: string` or something along those lines.  It seems almost all of the components we have built take children, and I don't think they all necessarily need them.

[2018-04-17 03:03] MrJarv1s commented on #12
@AaronCoplan I am trying to understand the current component layout and I see two `form` component folders in the `src` folder. One being from `src/forms` and the other one from `src/components/Form/`

I assume we'll slowly converge towards having all components in the `src/components/` and not residing in the `src/` folder. I am wrong?

[2018-04-17 03:05] AaronCoplan commented on #12
That’s correct - I’ll probably clean up src/forms tomorrow when I combine
its functionality with the other form component

On Mon, Apr 16, 2018 at 11:03 PM Greg Hamel <notifications@github.com>
wrote:

[2018-04-17 03:12] MrJarv1s commented on #12
Excellent, I’ll assume everything originates from the component folder.

Thanks

Sent from my iPhone

[2018-04-17 10:01] m8r1x commented on #16
I would like to take this but I'm having a bit of trouble understanding what exactly is required.
Do you want the **button props** to resemble **alert props** entirely or are you looking to change how the button accepts theme props like so:
[code]
or maybe even removing the `boolean` types all together to have
[code]

[2018-04-17 11:35] jonthomp commented on #17
I would potentially say both? Having the generic `children?: React.Node` provides almost unlimited flexibility for more advanced use cases.
For example, if you wanted to pass in a title that has a word highlighted in the middle, but the prop restricts you to a string, you couldn't do something simple like `<Component title={<>My <span className='highlight'>highlighted</span> word<>} />`

[2018-04-17 14:54] maracuja-juice opened #20 "Add Typescript typings"
When this project is in a better state it would be great to have Typescript typings (`componentName.d.ts` files) included in the package so that it can easily be used together with Typescript.

[2018-04-17 15:28] #15 closed

[2018-04-17 15:37] AaronCoplan commented on #16
I am a fan of the suggestion with accepting string only i.e.

[code]

I think we could define a type for this that only accepts certain values similar to how I've done in Alert

[2018-04-17 15:39] #9 closed

[2018-04-17 15:41] AaronCoplan commented on #17
Sounds good to me!  As long as we are making sure we aren't using it in components that don't take children (such as for instance a `<TextInput>` then this sounds good 👍

[2018-04-17 15:41] #17 closed

[2018-04-17 16:11] jonthomp commented on #16
@AaronCoplan should block and link should be seperate? They add the separate classes `btn-block` and `btn-list` on top of the `btn-primary`, `btn-primary-outline` etc so work slightly differently

[2018-04-17 16:15] jonthomp commented on #17
Agreed, I hopefully already spotted and removed all of those situations in my last commits to https://github.com/tabler/tabler-react/pull/8

[2018-04-17 16:28] jonthomp commented on #12
hey @MrJarv1s please could you let us know which demo pages you are working so we don't duplicate? And if you're working on any new components mention them over in https://github.com/tabler/tabler-react/issues/10 too?

[2018-04-17 18:29] MrJarv1s commented on #12
@jonthomb I have finished the error pages and am currently working on the “empty” page to have something to refer to for the following ones. I have forked my work, is there an easy way for me to show you my progression?

[2018-04-17 19:50] MrJarv1s commented on #12
@jonthomp To be a bit more precise in my message: I am working on "Pages" from the list in the issue description.

[2018-04-17 20:39] MrJarv1s commented on #12
I've been dealing with top components since the beginning but `empty.react.js` is giving me some trouble. I'd like to call a sub-component (i.e. `DropdownMenu` instead of `Dropdown`). Is there a way to do so? I tried the following:

[code]

and

[code]

both these idea failed miserably... Am I supposed to use the top-level component and a specific `className`?

[2018-04-17 21:12] MrJarv1s opened #24 "Nav component not present in components imports"
`src/components/index.js` does not have a line for the `Nav` component.

Suggest the following line be added:

`export { default as Nav } from "./Nav";`

[2018-04-17 23:54] AaronCoplan commented on #24
Working on this (and general exporting) now!

[2018-04-17 23:55] AaronCoplan commented on #12
@MrJarv1s I haven't looked at these components much yet as I didn't write them but I'll take a look and try to help out

[2018-04-17 23:55] AaronCoplan commented on #16
@jonthomp That's a good question - do they change the desired functionality or just the appearance?  Maybe we could build a base button then add specific ones similar to how you've done with Header and H1 ... H5?

[2018-04-18 01:29] MrJarv1s commented on #12
@AaronCoplan Thanks, but I figured it out. Not my typical way of defining React Components and Sub-components, but I like it. Helps when there is a big number of components.
Subs are called using the following pattern: `<Parent.Children>`

[2018-04-18 02:14] AaronCoplan opened #25 "Resolve conflict with Form components"

[2018-04-18 02:16] AaronCoplan commented on #12
@MrJarv1s Glad to hear it!  Once you finish the empty and error pages, can you submit a pr for your work so far? 👍

[2018-04-18 10:38] jonthomp commented on #12
@MrJarv1s thanks for updates on what you're working on, I'm going to get the form elements page up and running.

Glad you figured out the Dropdown components 👍 . At this time the majority of ./components are very much base building blocks so there can be some level of complexity to piecing some of them together.
The plan is that we will provide more complex components built on top of these, and ev

[2018-04-18 11:14] jonthomp commented on #16
@AaronCoplan they're both appearance only - block turns it into a CSS display: block and link removes background color but keeps everything else buttony, so you would most likely be using these on top of the color/outline option rather than stand alone

[2018-04-18 20:13] MrJarv1s commented on #12
@AaronCoplan @jonthomp
I'll PR later today with the Error pages. The Empty page and how to approach it with the correct components is giving me some trouble, it will be covered in a future PR.

[2018-04-19 13:32] MrJarv1s commented on #12
@jonthomp Any timeframe on a merge from the `form-elements-demo-page` branch? I'd love to see `Site-Wrapper.react.js` in use.

[2018-04-19 14:43] jonthomp commented on #12
@MrJarv1s I'm just holding it back at the moment due to Form component clashes (https://github.com/tabler/tabler-react/issues/25) but I believe that is soon to be resolved, @AaronCoplan have you a rough eta on that one?

[2018-04-19 14:55] AaronCoplan commented on #12
@jonthomp Submitting a PR in the next 15 mins

[2018-04-19 19:50] #24 closed

[2018-04-19 19:53] #25 closed

[2018-04-20 11:11] iamzjohn commented on #10
Hi, is someone doing one of this components so I could choose one, and we won't duplicate?

[2018-04-20 14:44] burakakyol commented on #10
I can get **Pricing Card** component if you didn't start

[2018-04-20 16:39] jonthomp commented on #10
Awesome thanks @iamzjohn @burakakyol! As far as I'm aware you are currently the only 2 working on these bits so the choice is yours!

[2018-04-22 21:46] jonthomp commented on #12
@MrJarv1s we're all done now :tada: and have a functioning demo site up and running https://tabler.github.io/tabler-react/
Have a look at HomePage or FormElementsPage to see SiteWrapper in action

[2018-04-22 21:49] MrJarv1s commented on #12
@jonthomp That's sweet! I'll get to work on the pages tonight, more to follow from me early this week!

[2018-04-23 04:34] MrJarv1s commented on #12
@jonthomp @AaronCoplan Empty and Email pages PR submitted, waiting for your comments.

[2018-04-23 21:50] m8r1x commented on #20
I could take this.
My approach would be to define the `.d.ts` files then copy them, maybe using [cpx](https://www.npmjs.com/package/cpx) for cross-platform compatiblility sake, to the `dist` when the `npm build` script is triggered, hence bundling them together with the package.
If that's alright I can get started asap.

[2018-04-23 22:03] AaronCoplan commented on #20
@m8r1x That approach sounds good to me - just a quick question first.  I am by no means an expert in TypeScript, so I was wondering how you would be defining the `.d.ts` files?  Would it be done manually or will there be some way of converting the flow types to ts types?

[2018-04-23 22:04] AaronCoplan commented on #20
The main reason I ask is if it were to be defined manually, it would be difficult to maintain as the tabler-react library changes or individual components' props change

[2018-04-23 22:46] m8r1x commented on #20
I've always opted for manual definition since I've never really found a great tool to auto generate from flow/js as intended.
Whenever I need the auto generate typings feature I opt to use Typescript from the start and let the compiler know that I need it using the `declaration` flag set to `true`.
[react-to-typescript-definitions](https://www.npmjs.com/package/react-to-typescript-definitions) doe

[2018-04-23 23:00] AaronCoplan commented on #20
This is the closest thing I can find https://github.com/bcherny/flow-to-typescript and that doesn't look super stable at the moment.  Might be best to do manually for now, and then migrate to something like that once something mature is available

[2018-04-23 23:27] m8r1x commented on #20
Alright. I'll get started with that.

[2018-04-24 14:34] zoubarevm commented on #20
@m8r1x My first attempt at typings (so I'm not sure it's right).

https://github.com/tabler/tabler-react/pull/42

[2018-04-24 18:14] m8r1x commented on #20
It looks great @zoubarevm
It'd be nice to get your feedback/thoughts on this variation as well

<img width="593" alt="tabler-react-typings 2" src="https://user-images.githubusercontent.com/29172128/39205555-a735e116-4803-11e8-8741-7fc137ccc236.PNG">

[2018-04-24 18:30] zoubarevm commented on #20
@m8r1x I was wondering how you I should do the NestedComponents. Looks good to me!

[2018-04-24 20:40] jonthomp commented on #10
hey @iamzjohn I've started work on the cards design demo page, how is the card footer coming along?

[2018-04-24 21:05] MrJarv1s commented on #12
@jonthomp could you add Profile to the Pages? I am currently working on a lot of components for that one.

[2018-04-24 21:16] jonthomp commented on #12
@MrJarv1s awesome and done!

[2018-04-25 06:53] burakakyol commented on #10
is **Chart** component  part of the **ChartCard** or  will we be consider it the seperate one?
BTW (if it is not too urgent) I can get  Store Card,Gallery Card and Blog Card components or we may  share them

[2018-04-25 12:11] iamzjohn commented on #10
@jonthomp sorry for the delay, I was sick but when possible I'll PR the feature

[2018-04-25 14:27] jonthomp commented on #10
@burakakyol I don't really think there is a Chart component on its own, however, there is the [tabler demo page of charts](https://tabler.github.io/tabler/charts.html) that we would like to replicate using our Card components and using something like [react-c3js](https://github.com/bcbcarl/react-c3js)

@iamzjohn no problem just give me a nudge as soon as it's ready and I'll merge it into the demo

[2018-04-25 20:16] jonthomp commented on #10
@burakakyol forgot to mention, if you do start work on those pages and components, let us know as you start work on each one just to be sure no one else is :smile:

[2018-04-26 21:04] jonthomp opened #51 "Provide custom components/styles for react-select components"
It would be great if we could provide components that work with [react-select](https://github.com/JedWatson/react-select) styled like tabler

[2018-04-28 11:25] jonthomp commented on #11
FYI: tracking WIP on the temporary docs solution here for the time being

[2018-04-28 18:17] jonthomp opened #61 "Finish converting tabler demo home page to tabler-react components"
We need to finish the home page and have it match the [tabler demo home page](https://tabler.github.io/tabler/index.html).

[2018-04-28 18:19] jonthomp opened #62 "Build blog card component"
Assigned to @KhaldiAmer

See https://tabler.github.io/tabler/blog.html
![screenshot from 2018-04-28 21-29-39](https://user-images.githubusercontent.com/660222/39400595-4a6eafaa-4b2b-11e8-9dd5-c09ffa6675fc.png)

[2018-04-28 18:23] jonthomp opened #63 "Build store product card component"
Assigned to @KhaldiAmer

https://tabler.github.io/tabler/store.html

![screenshot from 2018-04-28 19-22-21](https://user-images.githubusercontent.com/660222/39399647-8307a55e-4b19-11e8-8b02-b54db76d5656.png)

[2018-04-28 18:25] jonthomp opened #64 "Build store demo page"
Replicate the [tabler store demo page](https://tabler.github.io/tabler/store.html) in our example site

Will need https://github.com/tabler/tabler-react/issues/63 to be completed first.

[2018-04-28 18:29] KhaldiAmer commented on #10
Can I contribute?

[2018-04-28 18:33] jonthomp opened #65 "Remove all bootstrap javascript dependencies"

[2018-04-28 18:41] jonthomp commented on #10
@KhaldiAmer yeah certainly! I've started creating separate issues for the items in this list, perhaps have a look at https://github.com/tabler/tabler-react/issues/63 or https://github.com/tabler/tabler-react/issues/62 ?

[2018-04-28 19:04] KhaldiAmer commented on #63
Can I take this?

[2018-04-28 19:18] KhaldiAmer commented on #62
Can I take this one too?

[2018-04-28 19:27] jonthomp commented on #62
@KhaldiAmer we're sticking to one at a time how now just in case but I doubt anyone will take this by the time you finish the other :)

[2018-04-28 19:35] jonthomp opened #67 "Add Charts"
Use [react-c3js](https://github.com/bcbcarl/react-c3js) to add charts into our demo site to match the [tabler demo home page](https://tabler.github.io/tabler/index.html), the [Interface > Charts demo page](https://tabler.github.io/tabler/charts.html) and the [charts documentation page](https://tabler.github.io/tabler/docs/charts.html)

[2018-04-28 20:06] MrJarv1s opened #68 "Add Media Component"
The Media component located on the profile page is missing.
I would like to be tagged for that one, I am currently working on it as part of the Profile Page.

[2018-04-28 20:07] MrJarv1s opened #69 "Add Profile Component"
The Profile component located on the profile page is missing.
I would like to be tagged for that one, I am currently working on it as part of the Profile Page.

[2018-04-28 20:26] jonthomp commented on #69
@MrJarv1s can you add a screenshot just so its clear exactly what you're covering here?

[2018-04-28 20:33] jonthomp opened #70 "Gallery Card"
Assigned to @burakakyol

https://tabler.github.io/tabler/gallery.html

![screenshot from 2018-04-28 21-32-11](https://user-images.githubusercontent.com/660222/39400616-a89f869e-4b2b-11e8-9d34-5340bfce561d.png)

[2018-04-28 20:52] MrJarv1s commented on #69
Done!

[2018-04-28 21:06] jonthomp opened #71 "Carousel demo page"
Use [react-nuka](https://github.com/FormidableLabs/nuka-carousel) to replicate the [carousel demo page](https://tabler.github.io/tabler/carousel.html),

[2018-04-28 21:07] jonthomp opened #72 "Blog demo page"
Replicate the [blog demo page](https://tabler.github.io/tabler/blog.html),

Requires https://github.com/tabler/tabler-react/issues/62

Assigned to @MrJarv1s

[2018-04-28 21:40] jonthomp opened #74 "Add Tags components"
Add components for building all tags as seen at https://tabler.github.io/tabler/docs/tags.html

[2018-04-28 23:09] MrJarv1s commented on #68
@jonthomp @AaronCoplan I need some guidance here...

I'm looking to find a good tooltip library for react to incorporate into the components without having to modify the current CSS, which is based on the `tabler` stylesheet if I'm not mistaken. I've been using React-Bootstrap so far. It works with some delays in event handling and I do not like the fact that I can't specificy different classes fo

[2018-04-28 23:09] jonthomp commented on #74
Will be complete with https://github.com/tabler/tabler-react/pulls

[2018-04-28 23:57] jonthomp opened #77 "Add a simple date component"
Create an easy to use date component, using our existing base components where possible, for collecting dates like the date of birth component [here](https://tabler.github.io/tabler/form-elements.html)

![screenshot from 2018-04-29 19-26-49](https://user-images.githubusercontent.com/660222/39409675-5543f2e2-4be3-11e8-9e1f-a9474a0c0391.png)

**Assigned to:** @hugo-fonseca

[2018-04-29 00:35] MrJarv1s commented on #68
@jonthomp Thanks, I'll put that on my to-do.

[2018-04-29 01:11] jonthomp opened #79 "Add aria and role props to relevant components"

[2018-04-29 01:15] jonthomp commented on #68
@MrJarv1s I should have mentioned there is also a todo for this in https://github.com/tabler/tabler-react/issues/65

[2018-04-29 14:09] jonthomp commented on #67
Working on this in PR https://github.com/tabler/tabler-react/pull/90

[2018-04-29 15:52] MrJarv1s opened #91 "Make Form.Input modifiable"
The current `Form.Input` does not allow to edit its value on the webpage.
React `value` prevents modification. `Form.Input` would require an OnChange Handler as a function that would update the state of the component everytime a change is made.

[2018-04-29 16:44] jonthomp commented on #91
@MrJarv1s do you mean `FormTextInput` or `Form.Input`? `Form.Input` already has onChange and value props that you can pass in a handler and value so that you can control it from the outside, however, there is a bug if you are also trying to use the `icon` props, this will be resolved in https://github.com/tabler/tabler-react/pull/73/files#diff-958699d8f9fe581c56494bdcc48ec6b3

[2018-04-29 16:58] MrJarv1s commented on #91
That is my bad @jonthomp I looked at the Types and not the Props...

[2018-04-29 16:58] #91 closed

[2018-04-29 20:08] jonthomp commented on #61
This will be finished once https://github.com/tabler/tabler-react/pull/89 is merge

[2018-04-30 16:07] KhaldiAmer commented on #64
Worked on this in PR #93.

[2018-04-30 17:41] #74 closed

[2018-04-30 17:46] jonthomp opened #98 "Add the Gallery demo page"
Assigned to @burakakyol

Replicate the [tabler gallery demo page](tabler.github.io/tabler/gallery.html) in our example website.

[2018-04-30 17:50] jonthomp commented on #98
@burakakyol would you like this assigned to you?

[2018-04-30 17:56] burakakyol commented on #98
Of course , I got it

[2018-04-30 21:00] KhaldiAmer commented on #62
Can I take this one now? 😄

[2018-04-30 22:17] jonthomp commented on #63
Close by https://github.com/tabler/tabler-react/pull/93

[2018-04-30 22:17] #63 closed

[2018-05-02 09:59] #70 closed

[2018-05-02 12:06] #98 closed

[2018-05-02 15:34] #10 closed

[2018-05-02 15:42] jonthomp commented on #64
@KhaldiAmer have you worked on the Table part of the store demo page at all? If not happy if jump on it now?

[2018-05-02 16:29] #61 closed

[2018-05-02 16:47] #11 closed

[2018-05-02 18:35] jonthomp opened #107 "Carousel"
As we are aiming to remove all Bootstrap javascript dependencies from this project and we would eventually like this library to provide instantly and easily usable components out of the box, for the [carousel cards](https://tabler.github.io/tabler/carousel.html), I propose we add an existing library such as [react-nuka](https://github.com/FormidableLabs/nuka-carousel) as a dependency to our librar

[2018-05-02 18:40] jonthomp opened #108 "Build Maps demo page"
Build all the components required for, and then implement the maps demo page https://tabler.github.io/tabler/maps.html

[2018-05-02 18:41] #12 closed

[2018-05-02 18:42] jonthomp opened #109 "Build profile page"

[2018-05-02 18:45] jonthomp opened #110 "Build Icons demopage"
Build the Icons demo page https://tabler.github.io/tabler/icons.html

[2018-05-02 18:49] jonthomp opened #111 "Add Tabs component"
Build a Tabs component and add a new demo page and section to the documentation for them.

There isn't an existing tabler demo for tabs and [the tabler CSS might need tweaking](https://github.com/tabler/tabler/issues/49).

[2018-05-02 21:48] KhaldiAmer commented on #64
Pushed!

[2018-05-02 21:58] #64 closed

[2018-05-03 03:35] MrJarv1s opened #114 "Add Tooltip Component"
Tabler uses tooltips for a number of items.
For example, the media component uses tooltips:
![screen shot 2018-04-28 at 17 10 27](https://user-images.githubusercontent.com/24951944/39559037-8101ccaa-4e50-11e8-8b4b-40718de90fc7.png)

Since we are trying to get rid of bootstrap components, a component could be developed from using [react-popper](https://github.com/FezVrasta/react-popper).

[2018-05-03 11:39] jonthomp opened #115 "Add flow precommit script to run on staged files"
@AaronCoplan maybe one for you?

[2018-05-03 12:05] MrJarv1s opened #116 "Fix invalid declarations of type Props"
![screen shot 2018-05-03 at 06 01 53](https://user-images.githubusercontent.com/24951944/39575390-894f88d8-4e97-11e8-8df2-d3bbe110ce6a.png)

As seen in the picture above, some files have "invalid" declaration of type Props. This is shown during pre-commit lint.

[2018-05-03 12:31] burakakyol commented on #116
In some components, the comments cause the faults  under the prop type

[2018-05-03 12:34] MrJarv1s commented on #116
Interesting,

FormInput seams to be raised in this situation because of the double type declaration (FormStyle and Props)
GalleryCardIconItem seams to be raised because Props is missing the `|` after the brackets as in
[code]
versus
[code]

[2018-05-03 12:38] burakakyol commented on #116
Maybe an update may requires on [this script](https://github.com/tabler/tabler-react/blob/master/scripts/propscheck.py) @AaronCoplan
or we will find a better solution to declare prop types

[2018-05-03 12:39] jonthomp commented on #116
Flow isn't flagging any of these for me so could potentially be down to versions as well?

I've removed the comments from NavSubmenuitem and NavItem which will hopefully fix those 2 up.

[2018-05-03 12:40] MrJarv1s commented on #116
@jonthomp
I get these when I call `yarn precommit`

[2018-05-03 12:45] jonthomp commented on #116
Ah ok I see, I actually get that too, must be something in the python script like @burakakyol suggests, and it's not existing correctly which still allows commits to go through

[2018-05-03 12:54] MrJarv1s commented on #116
[code]
seems to be causing the issues. Since it splits at all `,` then checks if the next prop starts with `+`.

[2018-05-03 12:59] jonthomp commented on #116
I'm happy to go with replacing that precommit script with a `yarn flow` one for now

[2018-05-03 13:02] MrJarv1s commented on #116
Replacing the following part of the script:
[code]
with the following:
[code]
seems to work.

[2018-05-03 19:28] #110 closed

[2018-05-04 04:33] AaronCoplan commented on #116
Sorry for being unresponsive, I was traveling.  @jonthomp The intention of this script was to go beyond flow and check for best practices in Props type declarations i.e. declaring props as read-only using `+` and declaring props as exact object types wherever possible via `|`.  However, there may be some exceptions to this so while #119 looks to be a great hotfix, we may want to look into removing

[2018-05-04 04:35] #116 closed

[2018-05-04 05:21] AaronCoplan opened #123 "Cleanup warnings"
Whenever I go into `example` and run `yarn start` or `yarn watch` I get a lot of compiler warnings.  Would be ideal if we could clean those up.

[2018-05-04 07:56] AaronCoplan opened #125 "Console errors on docs page."
Repro: go to `/docs/cards` open console.  I got following message:

![docspageissue](https://user-images.githubusercontent.com/9311453/39617787-541cfd9a-4f81-11e8-90ba-2741e585698d.PNG)

I believe this is a result of the `<Text>` component default rendering as a `<p>` tag, which we then nest `{children}` under.  As a result we are getting what looks like a lot of these errors

[2018-05-04 08:10] AaronCoplan commented on #125
@jonthomp I am getting these warnings in my console on a lot of our pages - we might want to take a look at fixing this and making sure other people check their browser console before submitting PRs.

[2018-05-04 11:03] #115 closed

[2018-05-04 12:37] #123 closed

[2018-05-04 13:03] #125 closed

[2018-05-04 13:55] jonthomp opened #130 "Add missing component documentation"
- [x] Site
- [x] Page
- [x] Nav
- [x] Grid
- [x] Table
- [x] Dropdown
- [x] Stamp
- [x] Badge
- [x] List

[2018-05-04 15:28] #108 closed

[2018-05-04 21:16] MrJarv1s commented on #114
I'd like to be assigned for this one. Cheers,

[2018-05-08 09:32] AaronCoplan opened #134 "Minor Documentation Issues"
The new documentation system for the most part looks amazing and works well.  However, I have had 2 minor issues with it.

1. Issue with the current page - could not resolve reference to Grid - I tried adding `"./src/components/Grid/index.js"` to the requires list in docs and rebuilding but could not fix it.  (see fist attached screenshot for more info)

2. I tried building the docs for `TabbedCar

[2018-05-08 09:37] AaronCoplan opened #135 "Add documentation for Tabs and TabbedCard"
Creating an issue for this and assigning it to myself.  Currently blocked on #134

[2018-05-08 09:48] AaronCoplan opened #136 "Display problem with "Members" card on demo home page"
**Steps to reproduce:** go to [demo page](https://tabler.github.io/tabler-react/), scroll down to members, click vertical "..." next to Amanda Hunt.  It will look like the following, however I believe it should render the way it does on the [tabler demo page](https://tabler.github.io/tabler/).  I've included screenshots of each below.

## Tabler

![tabler1](https://user-images.githubusercontent.co

[2018-05-08 12:19] Raghavsalotra opened #137 "While running `yarn start` got 'tabler-react' does not contain an export named 'Media'. Error"

[2018-05-08 12:37] AaronCoplan commented on #137
@Raghavsalotra sorry to hear that!  Can you do me a favor and give me the following info so I can help debug:

1. Output of `git log` so I can see what commit you are on.  Alternatively, run `git pull` and try again with the latest updates.
2. Did you run `yarn install` in both the root directory of the repository and in the `examples` directory?
3. Any other info you could provide on how to repro

[2018-05-08 12:52] Raghavsalotra commented on #137
@AaronCoplan

1. Please find below output of git log:
`commit bae1dbb5141dcb8694d191b3a82aa621e99d808c
Merge: 8ce202c b0bea1a
Author: Aaron Coplan <AaronCoplan@users.noreply.github.com>
Date:   Tue May 8 04:27:32 2018 -0400

    Merge pull request #132 from tabler/missing-component-documentation-pages

    Missing component documentation pages

commit 8ce202cd24764c9e724f7f48a213f8c462bb6d90
Merge

[2018-05-08 12:56] burakakyol opened #138 "Grid.Col "xs" prop"
Is this forgotten ? This may be required while designing component on  mobile devices. What do you think ?
[Grid.Col](https://github.com/tabler/tabler-react/blob/master/src/components/Grid/GridCol.react.js)

[2018-05-08 13:00] jonthomp commented on #138
This has just been forgotten so should certainly be in there, would you like to add it in?

[2018-05-08 13:08] AaronCoplan commented on #137
Perhaps only run `yarn start` in the example dir, don't run it in the root dir in a separate terminal window.  Instead, run `yarn build` in the root dir, then once that finishes run `yarn start` in the example dir.  Let me know if that helps!

[2018-05-08 13:12] #138 closed

[2018-05-08 13:15] Raghavsalotra commented on #137
@AaronCoplan  That did not help.
PFA of error i am getting.
![screen shot 2018-05-08 at 6 44 41 pm](https://user-images.githubusercontent.com/4475839/39759308-fbda8e0a-52ef-11e8-8edd-be58423a960c.png)

[2018-05-08 13:52] burakakyol commented on #137
I guess, @Raghavsalotra  tried to import into his own project. NPM module does not contain Media component

[2018-05-08 14:04] #130 closed

[2018-05-08 14:10] #136 closed

[2018-05-08 14:14] jonthomp commented on #137
Thanks @burakakyol you might be right there. @Raghavsalotra I've just published v0.0.4 to npm, please can you give that a try?

[2018-05-08 15:29] #134 closed

[2018-05-09 06:30] Raghavsalotra commented on #137
Thanks for help team, It worked. :)

[2018-05-09 07:18] #137 closed

[2018-05-09 12:06] iamzjohn commented on #72
Is someone assigned to this one?

[2018-05-09 12:42] AaronCoplan commented on #72
@iamzjohn I don't believe so!  Would you like me to indicate it as assigned to you?

[2018-05-09 12:47] iamzjohn commented on #72
@AaronCoplan I can do it, but as I see the Blog Card isn't  done yet, When finished I can take this. And I might help on the Blog Card First

[2018-05-09 23:59] hugo-fonseca commented on #77
Hey, first time here, loved to see tabler fully ported to react!

I can take this if it's still available! 👍

[2018-05-10 07:09] AaronCoplan commented on #77
@hugo-fonseca Awesome!  I'll mark it as assigned to you 👍

[2018-05-10 17:24] jonthomp opened #151 "Use react-popper for Dropdowns"

[2018-05-12 18:50] #111 closed

[2018-05-13 19:46] #151 closed

[2018-05-15 14:32] AaronCoplan opened #158 "Deprecate documentation pages"
With the new documentation pages, it might be a good idea to get rid of the old pages so that people stop adding to them and are forced to write documentation for the new system.

[2018-05-15 14:32] AaronCoplan commented on #158
@jonthomp Let me know your thoughts on this one

[2018-05-15 15:12] jonthomp commented on #158
@AaronCoplan that's a yes from me. Have you spotted any components in particular that are in the old but not in the new that we need to resolve before deprecating the old?

[2018-05-15 15:28] AaronCoplan commented on #158
@jonthomp I haven't had the chance to go through and compare, I'll give that a go when I get the chance

[2018-05-15 18:46] alidehghan opened #159 "RTL version"
How can I use RTL version? there is no document nor sample.

[2018-05-15 19:45] #77 closed

[2018-05-15 19:45] AaronCoplan commented on #159
@alidehghan At the moment their is no RTL version available - however we would welcome your contribution in working on it!

[2018-05-15 23:45] jonthomp commented on #159
@alidehghan you can use the existing tabler RTL CSS to largely achieve this, we just don't have a way built in yet.

Because the tabler CSS is not included in our package you can easily add the RTL CSS yourself. I've [created an rtl branch](https://github.com/tabler/tabler-react/tree/rtl) with an [updated create-react-app example](https://github.com/tabler/tabler-react/tree/rtl/example) to demonst

[2018-05-16 00:02] jonthomp commented on #158
I've taken a look too, only things I could find are colors and charts documentation. Charts aren't actually our components so we can probably ignore that and I think colors will need to be done in a totally different way with the new docs system.

[2018-05-16 00:40] AaronCoplan commented on #158
Ok cool, I guess this one is blocked on #135 and that should be it!  I'll get to work on that once I get off this next flight

[2018-05-16 20:14] jonthomp commented on #159
@alidehghan an update for you - I've just submitted a PR #164 that adds the CSS, including RTL, into the main tabler-react library along with updated docs on importing them into a project

[2018-05-16 21:46] alidehghan commented on #159
thank you very much @jonthomp

[2018-05-16 21:51] alidehghan opened #165 "Issue at dropdown"
I guess there is a bug in Dropdown (upper right corner of the  screen), when somewhere else clicks, dropdown doesn't get closed (collapsed). It works on pressing (opening) menu, but the closing is buggy.

[2018-05-17 21:02] #159 closed

[2018-05-17 22:54] jonthomp commented on #159
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-18 00:41] Jinksi opened #167 "<Form.Textarea /> onChange prop"
Are there plans to add an `onChange` prop to `<Form.Textarea />`?

[2018-05-18 00:41] AaronCoplan commented on #167
Good idea - I'll take care of this tonight 👍

[2018-05-18 14:47] #167 closed

[2018-05-18 16:25] AaronCoplan opened #170 "Display issues with docgen"
Look at the `/docs/cards` page on the `Tabs` component.  Then look at it on the new documentation page.  Notice that the imported CSS is not being applied in the new documentation page.  Sorry I don't have time to attach screenshots, gotta run.  Just wanted to create this before I forgot

[2018-05-18 23:44] jonthomp commented on #165
Thanks for this @alidehghan I'm going to have a look at resolving this weekend

[2018-05-19 01:07] AaronCoplan commented on #170
Hmm okay, if we end up creating an issue in react-styleguidist let's link it here

[2018-05-19 23:35] AaronCoplan commented on #158
Let's wait on this until #170 is resolved.

[2018-05-20 15:07] Thomas-Smyth opened #174 "Site Header Source Code"
Currently, the Site Header component includes a button that links to this repo. I understand why this button is in for the demo, documentation, etc., however, it has been added to the repo's component code and thus as a developer trying to use this repository for my own projects it is very hard for me to easily personalise your Site Header.

I am not sure if I'm missing something, but this does no

[2018-05-20 17:42] AaronCoplan commented on #174
@Thomas-Smyth I agree with you, we'll take care of this soon

[2018-05-20 18:31] jonthomp commented on #174
@AaronCoplan you got this or am I ok to go ahead and fix it while working on bits atm?

[2018-05-20 20:17] Thomas-Smyth commented on #174
Also on another slightly related note. I assume that the Site.Footer is not yet complete?

That has the same issue, but there is also no way of editing the links, etc.

[2018-05-21 10:05] AaronCoplan opened #177 "Finish site footer"

[2018-05-21 10:05] AaronCoplan commented on #174
@Thomas-Smyth I've opened #177 for the site footer so we can track the two separately

[2018-05-21 10:12] #174 closed

[2018-05-21 10:13] jonthomp commented on #174
:tada: This issue has been resolved in version 1.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-21 12:38] jonthomp commented on #170
I've done some testing, it appears to be a compatibility or config issue between the different ways Rollup and Webpack handle CSS modules. I've created an issue with the library boilerplate we used as I believe they might be best placed to help https://github.com/transitive-bullshit/create-react-library/issues/24

[2018-05-21 12:43] #165 closed

[2018-05-21 12:45] jonthomp commented on #165
:tada: This issue has been resolved in version 1.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-21 22:28] jonthomp commented on #114
@MrJarv1s have you been able to take a look at this yet?

[2018-05-21 22:58] AaronCoplan commented on #170
Awesome, hopefully we get that fixed up soon!

[2018-05-22 02:33] MrJarv1s commented on #114
Glad you ask, I’ve just gotten back from vacation. I’ll hit the road with this early this week. I have hit a few road bumps with different libraries for tooltips, but I have a few new ideas plus I can’t wait to see the changes made to the CSS (move it to the components).

You should hear from me soon.

[2018-05-22 08:57] hugo-fonseca commented on #79
Happy to help on this if needed 👍

[2018-05-22 10:28] Zarkus13 opened #181 "Add Font Awesome and Flags icons"
Font Awesome and Flags icons are in the demo page, but not in tabler-react.

For now, there is only Feather icons.

[2018-05-22 12:48] jonthomp commented on #79
Awesome thanks, if you want to get started please dive on in! It's something I'm keen to get added so I'll certainly be able to help out too.

[2018-05-22 12:50] jonthomp commented on #114
Awesome and hope you had a great vacation!

I've used react-popper in the Dropdown components if you want to have a look at an example of how I implemented it.

[2018-05-22 16:29] MrJarv1s commented on #114
Thanks!
I'll have a look as soon as I merge all the new changes in my local repo.

[2018-05-22 22:38] jonthomp opened #182 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-22 22:39] #182 closed

[2018-05-22 22:43] #177 closed

[2018-05-22 22:44] jonthomp commented on #177
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-23 17:01] MrJarv1s commented on #114
Has something changed in the yarn install process? I've done a `yarn install` for both the root and example folders yet the example server report it cannot find Tabler.css in the `dist` folder. Once copied over as a test, I realized that some of the other folders are not included either (Font, Images).

Am I missing something?

[2018-05-23 17:12] MrJarv1s commented on #114
Never mind, `yarn prepare` made it all work. I did not see that one, maybe include the requirement for `prepare` in the Readme?

[2018-05-23 21:51] jonthomp commented on #114
Oh damn sorry about that, `yarn prepare` shouldn't be required, fix coming up!

[2018-05-25 02:49] MrJarv1s opened #187 "Make tabler-react Commitizen-friendly"
With the addition of commitlint, a quick and easy way to setup Commitizen in the right way would allow new users to get started faster.

[2018-05-25 03:05] MrJarv1s commented on #114
![tooltip](https://user-images.githubusercontent.com/24951944/40523679-d6e31272-5fa4-11e8-9f48-d8a05f9659a2.gif)

The component works!! The arrow is giving me some issues however.
I have a number of ways to fix this, but need some guidance.

Here are my options:

1. The best way (performance-wise) would be use a full CSS implementation, this could be implemented by a simple `left: calc(50% - 0.4re

[2018-05-25 10:39] jonthomp commented on #114
Awesome! I would go for option 1b, that's the way we've done it in the couple of other places we've needed to add our own CSS.

[2018-05-25 11:36] jonthomp commented on #181
@Zarkus13 I will update the docs to reflect this but currently, you need to include font-awesome yourself

The flag icons should be included in the distributed package, please can you try installing the latest version and double check they are not working?

[2018-05-25 11:52] #187 closed

[2018-05-25 12:49] AaronCoplan commented on #114
I agree 1b seems to be the way to go!

[2018-05-25 15:17] MrJarv1s commented on #187
Great! Thanks!

[2018-05-26 09:36] shinjikao opened #191 "(yarn install in exmaple) error An unexpected error occurred: "Reduce of empty array with no initial value"."
When I want following instruction  install and setup to run this tabler-react, I got trouble when yarn install in example folder. it show up error on screen.

error An unexpected error occurred: "Reduce of empty array with no initial value"

Arguments:
  /usr/local/bin/node /usr/local/Cellar/yarn/1.7.0/libexec/bin/yarn.js install

PATH:
  /Users/jackalkao/anaconda3/bin:/usr/local/bin:/usr/bin:/bin

[2018-05-26 10:33] jonthomp commented on #191
Hi @shinjikao this looks like an [issue with yarn](https://github.com/yarnpkg/yarn/issues/5876). There is fix available on the [nightly version](https://yarnpkg.com/lang/en/docs/nightly/) or you could try this suggestion from the issue comments:

In example folder run:
[code]

[2018-05-26 12:07] AmirGh72 opened #193 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object"
when used AccountDropdown or Nav.Item this error was occured:
ERROR:
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.
Check the render method of `Manager`

[2018-05-26 12:13] AaronCoplan commented on #193
@jonthomp Assigning you because you have more familiarity with these components than me.

[2018-05-26 16:45] jonthomp commented on #193
Hi @AmirGh72 please could you provide me with an example of how you are trying to use them?

[2018-05-26 18:59] AmirGh72 commented on #193
`
import React from 'react';
import { AccountDropdown } from "tabler-react";

class Test extends React.Component {

    render() {
        return(
            <AccountDropdown
                avatarURL="#"
                name="AAA"
                description="Administrator"
                options={[
                    "profile",
                    { icon: "settings", value: "Settings", to: "/

[2018-05-27 12:08] jonthomp commented on #187
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-27 12:43] jonthomp commented on #193
@AmirGh72 I haven't been able to reproduce this, which version of React are you using?

[2018-05-27 12:52] AmirGh72 commented on #193
react@16.3.1

[2018-05-27 15:53] jonthomp commented on #193
@AmirGh72 no luck yet, I thought it might have been our usage of `React.Fragment` or something else to do with newer React version.

Are you able to share your repository with me so I can clone it and take a look? Or any further details or error message if details if any.

[2018-05-27 17:04] shinjikao commented on #191
@jonthomp  no working

[2018-05-27 17:26] shinjikao commented on #191
switch to yarn 1.6 can fix my problem. work fine.

$ brew unlink yarn

$ brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/76215230de5f7f7bee2cfcdd7185cf49d949862d/Formula/yarn.rb

$ brew switch yarn 1.6.0_1

[2018-05-27 17:35] AmirGh72 commented on #193
it works with react@16.2.0 :)
why dosnt work with react@16.3.1 ?

[2018-05-27 22:44] jonthomp commented on #193
@AmirGh72 I've created a branch using 16.3.1 [here](https://github.com/tabler/tabler-react/tree/react-16.3.1) and all seems to be ok, does it work for you?

[2018-05-28 01:18] AaronCoplan commented on #191
Glad it's working!

[2018-05-28 09:10] SalahAdDin opened #197 "SCSS or LESS original files."
I discovered this project today and i fell in love.

I want to know if we can access to the styles core in order to modify, remove or extend the styles according to our needs.

Thanks.

[2018-05-28 10:05] Zarkus13 commented on #181
@jonthomp you're right sorry, flags and payments icons are ok ;) Thanks !

[2018-05-28 12:28] #181 closed

[2018-05-28 12:40] jonthomp commented on #197
Hey @SalahAdDin we don't yet use the original SCSS files in the react library, we're just using the built .css file. It might make sense for this to change, happy to take a PR if you would like to work on it?

You can find the core SCSS files [here](https://github.com/tabler/tabler/tree/dev/src/assets/scss) in the main Tabler repository.

[2018-05-28 14:09] #62 closed

[2018-05-28 15:56] SalahAdDin commented on #197
@jonthomp Ok, i will do it in the comming weeks.

[2018-05-28 16:50] MrJarv1s opened #199 "Add mouseEvent props to all components"
It would be important to add props for mouseEvent to all components and their render method. This would provide more flexibility to the users or developers when using the components for their scripts employing the mouseEvents.

Could be implemented in #189 as part of the Tooltip implementation which requires these props to be present in order to work properly. This would also allow the Dropdown co

[2018-05-28 17:27] jonthomp commented on #199
The same goes for onClick, onChange and onBlur, they're missing from various components too.

I think we will benefit from having some importable top-level flow types to save on repetition too.

[2018-05-29 12:12] jaydensmith opened #202 "Empty date picker"
Is a date-picker that will allow an empty/null value something that is on the cards?

[2018-05-30 12:28] AaronCoplan opened #205 "Display Issues"
When I look at our example pages, I noticed a minor discrepancy with the notifications / source code at the top.  More importantly, however, I noticed issues with how things get displayed in a less than full screen browser view.

Here are the differences regarding the notifications:

![display-differences1](https://user-images.githubusercontent.com/9311453/40720011-5c099740-63e3-11e8-96f5-c11aebd5

[2018-05-30 13:06] jaydensmith opened #206 "Name and value attributes not added to select"
My example below doesn't function as expected as the name and value are not passed to the underlying select element.
[code]

[2018-05-31 11:47] jonthomp commented on #206
Thanks for the report, I'll have that fixed up in a few hours

[2018-05-31 11:53] jonthomp commented on #202
Hey @jaydensmith I'll see about adding empty/null ability to our existing simple date picker if that's the sort of thing you need?

[2018-05-31 12:29] jaydensmith commented on #202
@jonthomp I think it would be great, as currently a null value raises an error 😄

[2018-05-31 17:30] MrJarv1s commented on #199
I'll get started on this one.

[2018-05-31 22:51] jonthomp commented on #202
This is a little tricker than I anticipated due to the internals of the component but I'll have another poke at it tomorrow

[2018-05-31 22:54] jonthomp commented on #206
These and loads more Form related bits and pieces coming up in #207

[2018-06-01 10:40] JheeBz opened #208 "Form examples make reference to non-existent <Qi> component"
The Button examples on https://tabler.github.io/tabler-react/form-elements (Input Group and Input Group buttons) make reference to a `<Qi>` component which doesn't appear to exist in this repo. I checked the source code and it is indeed just a `<Button>` component. I suspect this line is translating the element incorrectly: https://github.com/tabler/tabler-react/blob/master/example/src/ComponentDe

[2018-06-01 19:03] #114 closed

[2018-06-01 19:13] jonthomp commented on #114
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-01 19:13] jonthomp commented on #62
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-02 12:14] jonthomp opened #210 "Failing checks"
Sorry about the failing github checks, our free CI plan doesn't have enough RAM to handle flow any more. I've requested an increase so fingers crossed.

[2018-06-02 18:16] jonthomp commented on #199
Oh no sorry I just meant creating something like a new `/src/flow` a folder and putting the repeatedly used types in it so that they can be easily reused or extended in all the components you're adding them too but actually, it might not be that useful. Just go ahead with how you were going to approach it I think.

[2018-06-04 02:28] jonthomp commented on #205
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-04 13:07] MrJarv1s commented on #199
@jonthomp I see what you mean now! I like the idea of creating a type export for all events. This could be imported by each components as needed. Once this is merged and you like the way it is implemented, maybe we could start thinking about adding more flow types to it.

[2018-06-05 16:11] #206 closed

[2018-06-05 16:11] #208 closed

[2018-06-05 16:19] jonthomp commented on #206
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-05 16:19] jonthomp commented on #208
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-06 06:37] JheeBz opened #219 "<Form.SelectGroupItem> not accepting event handler"
The `<Form.SelectGroupItem>` component is not accepting event handlers. e.g.

[code]

Toggling the radio buttons above won't call the onChange function. I was able to get around this by just using plain HTML with the classes from tabler.

[2018-06-06 13:19] iamzjohn commented on #219
Hi @JheeBz I think u are placing wrong the event cuz if the `onChange`  should be placed on the Form.`SelectGroup` instead of the `SelectGroupItem`, If u want to archive the effect using `SelectGroupItem` u can change the event to `onClick` instead of `onChange`

**The correct way using** `onClick`:

[code]

**Correct way using** `onChange`

[code]

[2018-06-06 15:56] greenkeeper[bot] opened #220 "An in-range update of react-router-dom is breaking the build 🚨"
## Version **4.3.0** of [react-router-dom](https://github.com/ReactTraining/react-router) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/tabler/tabler-react/compare/master...tabler:greenkeeper%2Fdefault%2Freact-router-dom-4.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2018-06-06 21:37] JheeBz commented on #219
Form.SelectGroup doesn't accept an event handler either. Using just plain HTML elements I can put the event handler on either `selectgroup-item` or `select-group`.

[2018-06-07 15:07] ecoleman opened #223 "Several dependencies need moved to devDependencies"
The following dependencies should be listed under `devDependencies` rather than `dependencies`:

- `@semantic-release/changelog`
- `@semantic-release/git`
- `commitlint`
- `react-styleguidist`
- `webpack`

[2018-06-07 18:25] ecoleman opened #224 "Missing CSS files, possibly a build issue"
The following css imports are used, but are not available in a built version:

- `import "./Table.css";` in `(tabler-react/dist/components/Table/Table.react.js.flow:5:8)`
- `import "./Tabs.css";` in `(tabler-react/dist/components/Tabs/Tabs.react.js.flow:9:8)`
- `import "./Tooltip.css";` in `(tabler-react/dist/components/Tooltip/Tooltip.react.js.flow:7:8)`

[2018-06-07 20:09] ecoleman opened #226 "NavItem active states are incorrect with PureComponent"
Not sure if this is a bug or I am doing something wrong...

`NavItem` is currently a `PureComponent`. When combined with react-router in my app, the active state gets set on the initial page load, and will never change.

If I change NavItem to a regular `Component`, the route changes and active states are reflected properly.

[2018-06-09 18:03] Kalyskin opened #228 "Why very slowly works?"
Why very slowly works?
not only my project.
Official page also slowly working
https://tabler.github.io/tabler-react/
https://tabler.github.io/tabler-react/documentation/

In navbar dropdown slowly opening and when i open documentation page browser slows down

[2018-06-11 18:12] jonthomp commented on #226
Thanks for the report I'll look into this and see what's going on, must be a bug of sorts

[2018-06-11 18:18] jonthomp commented on #224
In the built version those CSS files are compiled into the build itself so they should still be applied to your components. These errors are just coming from our automatically exported flow types (using [flow-copy-source](https://github.com/AgentME/flow-copy-source)), I'll have an investigation of a solution.

[2018-06-12 14:12] jonthomp opened #230 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-12 14:27] #223 closed

[2018-06-12 15:13] jonthomp commented on #223
:tada: This issue has been resolved in version 1.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-12 15:33] #220 closed

[2018-06-12 15:59] jonthomp commented on #226
@ecoleman how were you trying to do this, using the `NavItem` `LinkComponent` prop or just wrapping the `NavItem` in a RR `Link` component?

[2018-06-12 16:05] ecoleman commented on #226
I do the following:

`js
const navBarItems: Array<NavItem> = [
  {
    value: 'Dashboard',
    to: '/dashboard',
    icon: 'home',
    LinkComponent: NavLink,
  },
  {
    value: 'Example List',
    to: '/examples',
    icon: 'home',
    LinkComponent: NavLink,
  },
]

const App = () => (
  <SiteWrapper navItems={navBarItems}>
    <Switch>
      <Redirect exact from="/" to="/dashboard" />
      <R

[2018-06-12 16:09] justinglibert commented on #228
I can confirm that the demo page is indeed really slow

[2018-06-13 13:39] rishson commented on #228
Chrome devTools shows CPU at 100% - constantly.
Without user interaction, the page is constantly calling `requestAnimationFrame` repeatedly.

You might want to check `react-popper` usage in this repo, as `v1.10.0` was constantly getting offset dimensions for the `Popper`, causing 100% CPU usage. This does not appear to still be an issue (on the demo pages linked to above), but something else is th

[2018-06-13 14:00] AaronCoplan commented on #228
I agree it seems to be something with perhaps `requestAnimationFrame` or `Recalculate Style`.  I will try to look into this some more in the next day or two.

[2018-06-13 14:43] rishson commented on #228
So, in `v1.10.0`, it *looks* like it is the constant recalc fo offsets/dimensions  for `popper-react`.
If I comment out my usages of `<Dropdown>`, ny CPU falls from 100% to 0%

Some weirdness [here](https://github.com/tabler/tabler-react/blob/master/src/components/Dropdown/DropdownMenu.react.js#L56) maybe?

[2018-06-14 15:34] jonthomp commented on #228
@rishson spot on, fix coming right up!

[2018-06-14 15:36] #228 closed

[2018-06-14 15:38] jonthomp commented on #228
:tada: This issue has been resolved in version 1.10.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 15:44] #210 closed

[2018-06-14 21:21] #199 closed

[2018-06-15 00:55] jonthomp commented on #199
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-15 03:50] MrJarv1s commented on #219
@jonthomp, I’ll be merging a PR to resolve this soon. I have it ready, just need to fix the flow errors I have caused in some other components which depend on Form Elements

[2018-06-15 16:12] #224 closed

[2018-06-15 16:12] jonthomp opened #237 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-15 16:13] jonthomp commented on #224
:tada: This issue has been resolved in version 1.11.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-15 16:13] #237 closed

[2018-06-17 09:37] AmirGh72 opened #238 "SiteWrapper component dosnt work correctly !!!"
When using SiteWrapper, AccountDropdown component dosnt work. but AccountDropdown works correctly when using it separately!

[2018-06-18 13:35] jonthomp commented on #238
Hey @AmirGh72 can you provide any more detail? What is the specific issue you are having? Some screenshots and/or code examples would be a great help too

[2018-06-20 21:16] jonthomp commented on #226
@ecoleman if you wrap the `NavLinks` with RRs withRouter HOC it should solve the issue

[2018-06-20 21:22] #219 closed

[2018-06-22 02:36] kelyvin commented on #238
I am actually running into the same issue. The issue occurs with the collapsed submenu when the screen width is "mobile". When you switch to a mobile screen width, the submenu gets collapsed, and we're expecting to be able to click the hamburger icon to open it. However, it does not drop down the submenu as expected. See the attached gif.

![dropdown_issue](https://user-images.githubusercontent.co

[2018-06-26 18:50] ecoleman commented on #238
The mobile version of the navigation currently requires that you include bootstraps javascript. See https://github.com/tabler/tabler-react/blob/1e154226db7468d4b6952ed3e01fb09cddd020cc/example/src/App.react.js#L50

[2018-06-26 18:51] ecoleman commented on #226
The `withRouter` thing still doesn't seem to solve the problem for me.

Is there an actual reason/performance issue for NavItem being a pure component?

[2018-06-27 08:15] JheeBz opened #248 "No way to add click handler to <Tag remove>"
As per documentation you can use the `remove` property to add a Tag.AddOn with an 'x' and a click hand but it does not accept an onClick event. I think it'd be best in this case to make a named 'onDelete' handler like [material-ui does](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/Chip/Chip.js#L95).

Here is an example of this issue: https://codesandbox.io/s/5vnmol7q

[2018-06-27 08:26] c-kirkeby opened #249 "Can't add click handler to <Icon> component"
See [https://codesandbox.io/s/1rqn7plkj7](this) example. The `<Icon>` component doesn't accept an onClick handler and so the `link` property doesn't really serve much purpose besides styling.

[2018-06-27 20:58] MrJarv1s commented on #249
A PR is coming shortly.

[2018-06-27 20:59] MrJarv1s commented on #248
A PR is coming shortly.

[2018-06-27 21:11] jonthomp commented on #248
👍 for an `onDelete` handler for passing down to the `onClick` of the remove icon

[2018-06-27 21:13] jonthomp commented on #226
Nope I don't think so, I'll change it now

[2018-06-27 21:17] #226 closed

[2018-06-28 13:22] MrJarv1s commented on #158
@AaronCoplan @jonthomp  #170 is resolved and so is #135, what is the next step for this?

[2018-06-28 13:25] MrJarv1s commented on #72
@iamzjohn the Blog Card has been implemented, do you still want to take care of this one?

[2018-06-28 18:04] jonthomp commented on #158
@MrJarv1s just removing all the old documentation files from the example site (and anything that else that will no longer be needed)

[2018-06-28 19:17] MrJarv1s commented on #158
@jonthomp So just a clean up of the example site then? Should that still be blocked?

[2018-06-28 20:50] jonthomp commented on #158
@MrJarv1s yeah, and nope should not as far as I'm aware

[2018-06-28 21:16] #238 closed

[2018-06-29 10:42] #3 closed

[2018-06-29 18:08] MrJarv1s commented on #72
@jonthomp Please assign me to this one

[2018-06-29 19:25] #249 closed, assigned to nobody

[2018-06-30 21:27] alanbueno opened #259 "Add SiteHeader center alignment capability"
It would be nice to have a tag to align the header content in the center of the page.
It is useful when using tabler to create [cezerin](https://store.cezerin.com)-like pages.

[2018-07-04 10:08] jonthomp commented on #259
:tada: This PR is included in version 1.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-04 10:08] #259 closed

[2018-07-04 12:53] philiiiiiipp commented on #228
Is this already live on the demo page? I am still having extremely slow performance, both FF and Chrome.

[2018-07-04 17:54] jonthomp commented on #228
@philiiiiiipp oops sorry about that, the demo page had not been updated, it has now!

[2018-07-04 20:03] MrJarv1s commented on #228
That is great to know, thanks @jonthomp

[2018-07-04 20:35] philiiiiiipp opened #263 "Responsive table breaks on small screens"
Hey,

The is an issue with the responsive tables on small screens.

<img width="535" alt="screen shot 2018-07-04 at 22 29 12" src="https://user-images.githubusercontent.com/1035746/42293378-209b0da2-7fda-11e8-9a49-b0afbbe1c134.png">

I think the culprit is the additional

[code]
in the Table.css.

Weirdly this seems to be fixed in the current version of the live preview, but not on the code. I wil

[2018-07-05 08:39] philiiiiiipp commented on #263
Sorry, its not fixed on https://tabler.github.io/tabler-react/ I was checking the main website.

[2018-07-20 00:11] samccone commented on #191
A note, this bug reproduced with yarn `1.7.0`

yarn link SOME_PACKAGE
yarn add --dev SOME_OTHER_PACKAGE

[2018-07-23 23:11] dvisztempacct commented on #191
I can also report I have been experiencing this problem on `1.7.0` as well. I keep doing `rm -fr node_modules && yarn` to address the issue. I might be getting this error after using `yarn link` I'm not sure. It's getting quite annoying!

[2018-07-26 12:53] Superjo149 opened #272 "Dropdowns without buttons are broken"

[2018-07-27 13:51] DanielGibbsNZ opened #274 "Add click handler to <AccountDropdown> items"
It would be really handy to be able to add an `onClick` handler to an item in an `<AccountDropdown>` instead of providing a route with the `to` prop. E.g.

[code]

[2018-07-29 09:49] #72 closed

[2018-07-29 09:50] jonthomp opened #276 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 15:49] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 15:58] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 16:05] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 16:07] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 16:08] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 16:14] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 16:21] jonthomp commented on #276
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-29 16:31] jonthomp commented on #72
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-29 16:31] #276 closed

[2018-07-29 16:52] jonthomp commented on #191
@samccone @dvisztempacct sorry I'm afraid this appears to be out of our hands as it's a yarn issue that many have had in other projects https://github.com/yarnpkg/yarn/issues/5876, are you able to update from 1.7.0?

[2018-07-29 18:30] jonthomp commented on #263
It is now!

[2018-07-29 18:30] #263 closed

[2018-07-29 18:30] #197 closed

[2018-07-29 18:31] #193 closed

[2018-07-29 18:44] jonthomp commented on #272
Hi @Superjo149 could you post a few more details like the errors you are seeing and a code example and/or screenshot?

[2018-07-30 07:44] Superjo149 commented on #272
The docs are currently broken but you can test it there, the basic dropdown doesn't work and it also doesn't log anything.

![image](https://user-images.githubusercontent.com/4314204/43383986-ec581e24-93dc-11e8-9d05-35ab12fd0a18.png)

The button variant underneath does work.

[2018-07-30 08:40] PatrykRyba opened #286 "The online documentation is empty"
Hi all,

I have read through the documentation no problem yesterday (https://tabler.github.io/tabler-react/documentation/). However, trying to read it again, as of around 9pm yesterday it won't load at all. Completely blank, nothing in source code either. Tried on three devices and two separate networks just to make sure.

Cheers.

Edit1: the console outputs "Loading failed for the <script> with s

[2018-07-30 12:15] jonthomp commented on #286
@PatrykRyba they're back up and running now 👍

[2018-07-30 12:15] #286 closed

[2018-08-02 10:35] aisensiy opened #288 "Override themes of bootstrap"
The bootstrap website provide some method to overwrite the default themes here: [https://getbootstrap.com/docs/4.1/getting-started/theming/](https://getbootstrap.com/docs/4.1/getting-started/theming/)

So is it possible to override the themes of tabler like that?

[2018-08-03 11:16] philiiiiiipp opened #289 "Add autocomplete on|off option to form|input elements"
This would be great to have. I would make a pull request if wanted.

[2018-08-04 02:04] aisensiy commented on #288
Is there some one have solution for this?

[2018-08-04 15:54] makstr opened #291 "SSR rendering"
This might be related to my setup (running with next.js) but I am having issues rendering Tablet on the server. Has anyone had any success with SSR here?

[2018-08-04 17:48] makstr commented on #291
this was an issue with my css loader, resolved

[2018-08-04 17:48] #291 closed

[2018-08-05 07:19] DanielGibbsNZ opened #292 "React-router error when using withRouter(NavLink)"
When following the example in [example/src/SiteWrapper.react.js](https://github.com/tabler/tabler-react/blob/master/example/src/SiteWrapper.react.js), I get the following error:

[code]

I get the same error when trying to do the following in my own components:

[code]

However, when I remove the use of `withRouter` (as in the example pre #242), it works fine:

[code]

* react version: 16.4.1
* re

[2018-08-07 00:05] sampsasaarela commented on #272
I have the same issue in my app. Dropdowns are not working in the [doc examples](https://tabler.github.io/tabler-react/documentation/#dropdowntriggerreact) either. I also tested plain [example](https://github.com/tabler/tabler-react/tree/master/example) and dropdowns not working. Only dropdowns in header and navigation are working.

I think that dropdowns are not initialized by bootstrap after ini

[2018-08-07 00:30] GregoryHamel commented on #272
Thanks for submitting you problem, I’ll have a look soon about this issue.

Sadly dropdown do not use Bootstrap, they are made with popper in an effort to move to react-based components

[2018-08-13 08:56] paolostyle opened #296 "Dropdowns should be closed after selecting an option by default"
As you can see on the non-React version of Tabler https://tabler.github.io/tabler/# the dropdowns are being closed once you select an option by default. This is not the case for tabler-react. If you'd prefer to not change the default behavior (understandable), can you at least provide an easily configurable way to do what I ask for? Thanks.

[2018-08-13 11:13] GregoryHamel commented on #296
Thanks for reporting the issue, we strive to replicate the tabler behaviour has much as possible. This will be fixed in an upcoming release.

I’m sure this could be useful if the dropdown is not being use as navigation, more like an option selection. I hadn’t really thought of that before. I’ll definitely look into it.

Thanks

[2018-08-28 10:56] dominikkurbiel opened #299 "onPointer events errors in console"
Hello,

when I added one of `accountDropdownProps` and `navProps` to my Site.Wrapper i have warnings in console (screenshot below). When I comment accountDropdown and navProps, warnings disappears.

How to fix it?

[code]

[code]

![image](https://user-images.githubusercontent.com/22274153/44718448-66cdb480-aac0-11e8-9756-cd7a0bdc687c.png)

[2018-08-28 15:00] GregoryHamel commented on #299
This is caused by my implementation of the events in most of the components. React has an event handler for pointers that doesn’t seem to be implemented.

Right now this shouldn’t cause any problems to your code has it is ignored.

I have to remove the eventHandler for pointers from the code.

[2018-08-30 15:59] paolostyle commented on #299
https://reactjs.org/blog/2018/05/23/react-v-16-4.html

I just updated React to 16.4 when I had the same problem.

[2018-09-05 04:39] jdelrosarioo opened #302 "Site.Wrapper / Site.Nav misaligned collapsed menu"
Using original tabler, the nav looks like this --

![image](https://user-images.githubusercontent.com/40348356/45071323-31e8df80-b108-11e8-9408-a8b666233bba.png)

But using the component, the nav looks messed --

![image](https://user-images.githubusercontent.com/40348356/45071340-49c06380-b108-11e8-8e18-e7af45a26317.png)

Looking at the Grid.Col class, the css class "col" is always included causi

[2018-09-05 06:30] jdelrosarioo opened #303 "Way to specify icon prefix for icons Nav Component"
As it would be possible to use font-awesome icons, there should be an option, property or toggle which allows us to use other classes through the nav / site.nav components.

[2018-09-09 21:50] kibernetika commented on #193
It's import problem. When I used:

[2018-09-16 06:44] shreedhan commented on #20
Is this going to be merged anytime soon?

[2018-09-19 06:48] joseraul commented on #272
Any news about it?

[2018-09-19 14:50] rolfwessels opened #305 "Tooltip not working"
When looking at https://tabler.github.io/tabler-react/documentation/#tooltipreact

The tooltip is not responding. I'm having the same issues in my code.

Version
`"tabler-react": "1.15.0"`

[2018-10-01 07:41] AaronCoplan opened #307 "Shorthand on Table bodyItems is missing key"
https://github.com/tabler/tabler-react/blob/1f8e21cd607841e3c5c056e9133bdf39fa0c46f2/src/components/Table/Table.react.js#L30 needs a key prop passed in.  Will then need to be rendered in the table.  Currently gives the following warning: `Warning: Each child in an array or iterator should have a unique "key" prop.`

[2018-10-01 08:33] AaronCoplan commented on #296
@paolostyle Sorry for taking so long in getting back to you on this.  By dropdowns on tabler-react, do you mean for example the profile dropdown in the upper right?  Are you suggesting that on clicking an item such as *Settings*, the dropdown should close as it does on the tabler page?  Just trying to get a better understanding of what you are looking for.
![screen shot 2018-10-01 at 4 33 02 am](h

[2018-10-01 08:54] #307 closed

[2018-10-01 08:55] jonthomp commented on #307
:tada: This issue has been resolved in version 1.20.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-01 09:05] paolostyle commented on #296
Yep, exactly.

[2018-10-01 09:18] AaronCoplan commented on #305
Tooltips as a whole seem to be broken... They are also broken on the [Profile page](https://tabler.github.io/tabler-react/profile).  @GregoryHamel  any insight on this?

[2018-10-01 09:35] #302 closed

[2018-10-01 09:35] AaronCoplan commented on #302
@jdelrosarioo Thanks for pointing out where this issue was!  Should be resolved in the release I am issuing now.

[2018-10-01 09:36] jonthomp commented on #302
:tada: This issue has been resolved in version 1.20.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.20.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-01 09:39] AaronCoplan commented on #299
Closing this as I believe it has been resolved but please comment if that is not the case and I will reopen.

[2018-10-01 09:39] #299 closed

[2018-10-01 09:45] #158 closed

[2018-10-01 09:46] jonthomp commented on #158
:tada: This issue has been resolved in version 1.20.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.20.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-01 13:07] GregoryHamel commented on #305
@AaronCoplan,
The Tooltip component was written by a much less experienced me. Looking at it, there is probably a lot that can be done to improve the way it works.

For the reason as to why it is not working right now, I'd have to investigate. My guess is that either:
1. The CSS classes are interfering with one-another;
2. Popper implementation was not done correctly when I did it.

I'll have a lo

[2018-10-01 19:40] AaronCoplan commented on #305
When I hover over it and have the Chrome "inspect element" tool open, it shows `opaque: 0;` as one of the properties.  So I'm thinking that something is off with the CSS classes interfering.  That would be awesome if you could look into it!  Thanks @GregoryHamel

[2018-10-01 20:19] #296 closed

[2018-10-01 20:20] AaronCoplan commented on #289
@philiiiiiipp Sorry for taking so long to reply - if you wanted to work on this that would be awesome!

[2018-10-01 20:21] jonthomp commented on #296
:tada: This issue has been resolved in version 1.20.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.20.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-01 21:34] AaronCoplan commented on #272
@Superjo149 @sampsasaarela @joseraul

I've merged in #315 which should hopefully address this.  Please see https://github.com/tabler/tabler-react/blob/95abc5875ef669271c6e2ed47b8fcbf6861adb65/example/src/HomePage.react.js#L560 for an example of how to use the Dropdown.

I'm going to close this issue, but please feel free to comment with any related issues and I will gladly reopen!

[2018-10-01 21:34] #272 closed

[2018-10-03 20:46] dvisztempacct commented on #191
Thanks @jonthomp :)

[2018-10-03 20:47] #191 closed

[2018-10-03 23:31] jonthomp commented on #20
@shreedhan I imagine this needs updating before being merged, would you be able to take a look and see? I've recently been having to use Typescript on some projects so will also try to have a look at some point

[2018-10-03 23:38] jonthomp commented on #288
@aisensiy it's not possible to do it with `tabler-react` as we just use the compiled CSS from the main `tabler` repo. You would need to clone `[tabler](https://github.com/tabler/tabler/)` and then [adjust the variables](https://github.com/tabler/tabler/blob/dev/src/assets/scss/_variables.scss) and build the CSS to import alongside `tabler-react`.

[2018-10-03 23:39] #288 closed

[2018-10-04 17:11] AaronCoplan opened #322 "Upgrade example to CRA v2"
Upgrade example site (gh-pages site) to use CRA v2 and ensure compatibility.

[2018-10-07 20:41] AaronCoplan commented on #305
@GregoryHamel any update on this?

[2018-10-07 20:48] AaronCoplan opened #324 "Resolve bugs and warnings from browser console (React.StrictMode)"
`React.StrictMode` gives console warnings as does compiler when example project is started.  We should seek to resolve all of these warnings and errors.

![screen shot 2018-10-07 at 4 46 53 pm](https://user-images.githubusercontent.com/9311453/46586745-c7052e00-ca50-11e8-9b3d-cf2629cdcb33.png)
<img width="1369" alt="screen shot 2018-10-07 at 4 48 00 pm" src="https://user-images.githubusercontent.c

[2018-10-07 21:03] #322 closed

[2018-10-07 21:05] jonthomp commented on #322
:tada: This issue has been resolved in version 1.21.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-08 05:09] jdelrosarioo opened #325 "Dropdown component using the component children format doesn't work"
Using the component props, the dropdown works as expected. But when using the children format the items doesn't show. It doesn't even render in the markup.

[2018-10-11 18:52] ducanh2110 opened #332 "Use Site.Nav with itemObjects"
How to make navBarItem active when we click on subItem of this navBarItem. Help me please. Thanks so much.

[2018-10-12 12:34] pechanxur opened #334 "How to use accountDropdown with the site.header"
i know its a very simple question bt i really want to know khow can i make it work togheter, here its my code

`  <Site.Header align="center">
          <Site.Logo
            alt="ICP"
            href="/"
            src={"./../../img/logo_horizontal.png"}
          />
          <AccountDropdown
            avatarURL="./demo/faces/female/25.jpg"
            name="Jane Pearson"
            descri

[2018-10-12 12:44] pechanxur commented on #334
i've made a research on the demo and i found the solution, thanks and again sorry about the question!

[2018-10-12 12:44] #334 closed

[2018-10-13 03:42] AaronCoplan commented on #325
@jdelrosarioo Currently the children format does not work and the component props are the preferred method.  Do you have a use case that requires the children format?  If not, I will likely simply remove that from the documentation.

[2018-10-15 02:42] ducanh2110 opened #337 "Help with Site.Header"
I am using Site.Header and when I test on mobile device I dont have collapse menu button like Site.Wrapper so I need to create my own togglerIcon button. And to make it work I need to find Nav div by className and sometimes I think it wont work correctly. Please help me. Thanks

[2018-10-15 09:12] GregoryHamel commented on #305
Yep, I had the chance of looking into it the other night. Sorry for the late reply, I’m on vacation on the other side of the globe.

It’s in part due to the CSS and to the logic in the component. A simple fix is to add the “show” class to the tooltip, but the location is messed up for some reason. Maybe something changed in either React or React Popper that caused the issue.

More to follow when I

[2018-10-17 01:59] AaronCoplan commented on #337
@ducanh2110 Your question doesn't provide much detail - can you give a little more insight into what exactly you are doing and why you think it won't work correctly?

[2018-10-17 02:00] AaronCoplan commented on #305
@GregoryHamel Thanks for the response - sorry to bother you on vacation!  I'll look into the simple fix of adding "show" for now - if you could take a look when you get back that would be awesome!  Thanks 👍

[2018-10-17 02:02] #332 closed

[2018-10-17 02:46] ducanh2110 commented on #337
@AaronCoplan when I'm using SiteWrapper components, there's already a toogle menu button when I resize to mobile. But If I'm using Site.Header now there's not  a toogle menu button. Help me with this. Thanks

[2018-10-17 06:41] alejandrofloresm opened #338 "How to access to the value of Form.DatePicker?"
Hi!

How can I access to the value of Form.DatePicker? I have tried setting it up a "name" attribute to the component but that's doesn't work.

My form looks like this:

[code]

And normally I'm getting the values as:

[code]

How can I access to the value of Form.DatePicker?

I can get the value using the onChange option but if the user doesn't change the date then I can not get that value.

Than

[2018-10-17 08:16] bhaskesaravanan commented on #202
In the Form.Datepicker how to set the particular date. I tried with a defaultDate property. But It is now working for me

[2018-10-17 11:28] GregoryHamel commented on #305
@AaronCoplan certainly! I really want to get back into this project :)

Sent from my iPhone

[2018-10-19 10:42] jdelrosarioo commented on #325
I think if all the props of the dropdown item could be provided then yes. But putting all of these as the dropdown props is a bit verbose don't you think?

[2018-10-19 14:49] shreedhan commented on #20
@jonthomp I created a pull request here https://github.com/tabler/tabler-react/pull/341. Not sure, if this is the correct way to do it though.

[2018-10-26 08:41] chubaka commented on #337
Fixed, added this pull request for review:
https://github.com/tabler/tabler-react/pull/344

[2018-11-04 12:48] asharamseervi opened #347 "yarn install throwing errors: error Command failed with exit code 1."
Hello devs, I saw you're making better UX ready admin. I just loved it & to explore it in deapth, I cloned and installed Yarn Dependencies as suggested in readme. Which have gone something unexpected. My bash history as follows: (Kindly help me, if I'm missing something)

**For root folder:**
[code]
and for **example folder** in separate terminal from VS Code.

[code]

[2018-11-04 13:56] aaimaawebs commented on #347
**Actually issue with windows.**

As `'cp' is not recognized as an internal or external command` and `cp` should be replaced with `copy` for windows. Scripts should be written keeping mind of windows as well. Please improve these asap so windows developers leverage of this product.

[2018-11-05 18:16] asharamseervi commented on #347
Hello @tabler team, any updates on this?

[2018-11-05 20:45] GregoryHamel commented on #347
I am sure a simple fix to your first issue related to the use of `cp` bash command would be to use a library such as `shx`.

I’ll have a look at the rest tonight and provide feedback

[2018-11-06 03:59] GregoryHamel commented on #347
@asharamseervi  @aaimaawebs Working on a pull request for the `cp` and `rm` commands to work on win32. I'll need someone to try the build process though, since I do not have access to a Windows system.

[2018-11-06 04:10] GregoryHamel commented on #347
@asharamseervi @aaimaawebs can you clone [my fork](https://github.com/GregoryHamel/tabler-react) and see if it solves the first issue?

If so report back here so we can integrate a solution.

Cheers,

[2018-11-06 04:12] GregoryHamel commented on #347
We'll focus on the first issue until we can resolve it. The second issue might be caused by the failed build process.

[2018-11-06 17:10] asharamseervi commented on #347
Hello @GregoryHamel, Thankyou so much for your efforts.

I tried as you suggested, cloning your fork and yarn-installing node dependencies. And results are as follows(in referenced gist): https://gist.github.com/asharamseervi/c8062027879b8c832ce9ab7778ec9551

[2018-11-06 19:31] GregoryHamel commented on #347
Excellent, the cp is no longer causing an issue.
I will investigate the problem with `mkdir`.

My first guess is once again command incompatibility. It seems that `mkdir` under windows has no `-p` option, it does this by default. Maybe applying SHX can have a good effect on that one too.

[2018-11-06 19:35] asharamseervi commented on #347
We can try it. It looks good to me, but never used it earlier.
I'm up for contribute, but not a hardcore developer. I'll more than happy to test and make tabler available for windows users too.

[2018-11-06 19:40] GregoryHamel commented on #347
Keep us posted with the results.
Any help is always welcomed, especially from windows users.

[2018-11-06 21:45] GregoryHamel commented on #305
@AaronCoplan Please review PR.

Cheers,

[2018-11-06 21:53] #305 closed

[2018-11-06 21:55] jonthomp commented on #347
:tada: This issue has been resolved in version 1.21.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.21.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-06 21:55] jonthomp commented on #305
:tada: This issue has been resolved in version 1.21.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.21.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-06 22:06] GregoryHamel opened #350 "Automate Build Testing using CI for both MacOS and Windows"
Recent issue #347 shows that we are not correctly assessing our builds.

I would recommend using a CI app such as AppVeyor to automate a build on MacOS, Windows and Linux to ensure each release can build on all systems.

[2018-11-06 23:08] asharamseervi commented on #347
Hey @AaronCoplan, why this issue got closed without any fix? I just tried newest release which was merged and issue still has to be fixed. Hope, this may be human error. Here are outputs from terminal.
I know this issue got referenced by @GregoryHamel, if this is the reason behind closing, it's okay. But, issue yet to be resolved.

[code]

[2018-11-07 03:52] AaronCoplan commented on #347
@asharamseervi Reopening the issue now, it was closed by the description of the pull request in #348

[2018-11-07 03:54] AaronCoplan commented on #347
@GregoryHamel Line seems to be this one that is causing the error:  https://github.com/GregoryHamel/tabler-react/blob/89b5aacc20fae663e77807ca83865f9c5e5829e1/package.json#L27

[2018-11-07 05:11] GregoryHamel commented on #347
I agree, there seems to be something weird with `mkdir -p <...>` under windows. Some sources report that the `-p` option available in posix systems is a default option of `mkdir` under windows.

@asharamseervi, can you add `shx` in front of the `mkdir` call in `package.json` as highlighted in AaronCoplan’s reply above and report back?

Thank you!

[2018-11-10 12:49] asharamseervi commented on #347
Hey @GregoryHamel & @AaronCoplan,

I'm desperately looking to play with tabler-react in windows, as I really love it's UX <3 !! Please resolve installation dependencies asap so I can use it for my project and contribute back to project.
Thanks

[2018-11-11 01:35] GregoryHamel commented on #347
@AaronCoplan my bad, my last commit removed the changes in my first one.
I'll do another pull request to see if it works.

@asharamseervi I'll need you to go back to my [fork](https://github.com/GregoryHamel/tabler-react/tree/shx) and see if it solves your issue. Please report back.

Cheers!

[2018-11-11 16:17] AaronCoplan opened #353 "Flow error with TimelineItemTitle"
See attached image - this has been here for a while and we should seek to resolve it for good.

<img width="843" alt="screen shot 2018-11-11 at 11 16 32 am" src="https://user-images.githubusercontent.com/9311453/48315365-51d2ce80-e5a3-11e8-8335-53c0b08d8052.png">

[2018-11-11 17:19] asharamseervi commented on #347
Hey @GregoryHamel, you can't believe, it's working now on windows 😃 !!

I cloned your fork, checked-out to shx branch and did hit `yarn install` & similarly from example directory. I got successfully running it in my windows system at `http://localhost:3000` and outputs(terminal) are here: https://gist.github.com/asharamseervi/c8062027879b8c832ce9ab7778ec9551/revisions

So far, I can't able to run

[2018-11-11 21:06] GregoryHamel commented on #353
I have a PR coming for this one. Few fixes including some browser warnings. Should be in by the end of the day.

Sent from my iPhone

[2018-11-11 21:06] GregoryHamel commented on #347
Will PR this one!

Sent from my iPhone

[2018-11-12 09:22] 12jm opened #357 "Attempted import error: 'NotificationTray' is not exported from 'tabler-react'."
Trying to use NotificationTray component and throws this error

[2018-11-12 17:29] GregoryHamel commented on #357
@12jm have you tried importing `Notification.Tray`?
Its export reflects the hierarchy of the components, since `NotificationTray` is a child of the `Notification` component it can only be imported as `Notification.Tray`

[2018-11-12 17:37] GregoryHamel commented on #337
@ducanh2110 I believe you are looking for this, correct?
![screen shot 2018-11-12 at 12 33 51](https://user-images.githubusercontent.com/24951944/48364829-697b8700-e677-11e8-9f7b-8290783e6335.png)

If so, this is the `Site.Nav` component. It takes all the navigation items found in the non-mobile version of the page and puts it in the toggle button. If you want this to be active at all time, I'd co

[2018-11-12 18:13] ducanh2110 commented on #337
@GregoryHamel yes, it's exactly what i want

[2018-11-12 20:31] #353 closed

[2018-11-12 20:32] #347 closed

[2018-11-12 20:33] AaronCoplan commented on #347
@asharamseervi We have merged #356 into master - can you check it out and let us know if things are working okay?  Thanks!

[2018-11-12 20:33] jonthomp commented on #353
:tada: This issue has been resolved in version 1.21.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.21.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-12 20:34] jonthomp commented on #347
:tada: This issue has been resolved in version 1.21.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.21.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-13 01:51] 12jm commented on #357
Thanks @GregoryHamel. It worked!

Importing this way:

and used in this way:

            <Notfication.Tray
                 ...
             />

Instead of :

           <NotficationTray
                 ...
           />

[2018-11-13 01:51] #357 closed

[2018-11-13 18:09] GregoryHamel commented on #337
Can you provide us with a sample of your code so we can have a look?
You're probably pretty close to it and are just missing a little something.

[2018-11-13 18:17] GregoryHamel commented on #289
@philiiiiiipp, I'd like to know if you are working on this? Otherwise, I'd implement the change.

Cheers,

[2018-11-13 20:29] GregoryHamel commented on #324
The source of the problem is probably shared with #292.

[2018-11-13 22:41] AaronCoplan commented on #324
@GregoryHamel Agreed - I also think that anything resolving this will also address #292.  Do you know where the staticcontext prop is coming from?  Is that related to routing or popper?

[2018-11-14 02:56] ducanh2110 commented on #337
It's been long time and I don't remember where the project locate, but I'm
sure that when I used SIte.Nav there's no Collapse button

On Wed, Nov 14, 2018 at 1:09 AM Greg Hamel <notifications@github.com> wrote:

[2018-11-14 04:38] 12jm opened #359 "How to add options to Form.Select?"
Form.Select doesn't have demo on how to add options

[2018-11-14 04:49] AaronCoplan commented on #359
If you go to [this page](https://tabler.io/tabler-react/form-elements) on the demo and click the "Source" button for Select it will give you the following:

![screen shot 2018-11-13 at 11 48 54 pm](https://user-images.githubusercontent.com/9311453/48460813-c32aa100-e79e-11e8-8e65-7d992aa35502.png)

Hope that helps!  Feel free to follow up with any more questions.

[2018-11-14 06:34] asharamseervi commented on #347
Hey @AaronCoplan & @GregoryHamel, I can confirm, it's working on windows with core tabler-react repo with master-branch.

Thankyou so much for merging & contributing. ❤️

[2018-11-14 11:18] GregoryHamel commented on #347
Glad we could help!

[2018-11-14 23:17] #359 closed

[2018-11-15 04:33] AaronCoplan commented on #350
@GregoryHamel I will make this issue a priority.  Even tonight, merging #346 broke the build, and it wasn't until ecdbd3f3d74398ee30c341445724fc80c6ed8738 that I was able to recognize that and fix it.

[2018-11-15 13:04] vladimirfriptu opened #360 "documentation is not work"
Thanks for your work, I would like to try your creation, but I can’t get to the documentation page.

[2018-11-15 15:30] Romainpetit commented on #360
+1, It's been down for the last 24h

[2018-11-15 15:57] AaronCoplan commented on #360
@vladimirfriptu @Romainpetit Sorry about that!  I just put it back online - try hard reloading https://tabler.io/tabler-react/documentation/

[2018-11-15 15:57] #360 closed

[2018-11-15 16:39] Romainpetit commented on #360
Thanks @AaronCoplan !

[2018-11-16 11:45] Thomas-Smyth opened #361 "NavItem Active State Faulty"
Hello all,

It seems that the active states of `NavItems` are being incorrectly set when using react-router.

No need to supply my own code to show this as the issue is present in the [example ](https://github.com/tabler/tabler-react/tree/master/example)section of this repository.

When most pages are being accessed, it shows both the Home page and the currently selected page as active. For exampl

[2018-11-16 12:09] GregoryHamel commented on #361
@Thomas-Smyth thanks for looking into this. It’s been on my list of things to look at for a while. I’ll have a look and report back soon.

[2018-11-18 16:46] yatsyk commented on #288
I think it will be possible after merging of this pull request https://github.com/tabler/tabler/pull/57 .

[2018-11-20 13:26] Thebarda opened #364 "Select caret doesn't display on Firefox"
Hello there !

Caret on right of Select component doesn't display on Firefox but it works correctly on Chrome / Chromium.
Not tested on Safari :(

I'm working on this issue so I will create a PR for this :)

[2018-11-21 03:20] quangcuong0808 opened #366 "Form.Datepicker does not change default value"
`<Form.DatePicker
                                defaultDate={date}
                                format="mm/dd/yyyy"
                                maxYear={2200}
                                minYear={1970}
                                onChange={(e) => this.onHandleChangePicker('startDate', e)}
                                monthLabels={[
                                    'January',

[2018-11-23 09:19] yatsyk commented on #288
`npm install https://github.com/beeman/tabler.git#beeman/variable-asset-path --save`

[code]

[2018-11-23 15:06] philiiiiiipp commented on #289
Hey, i have implemented that already quite some time ago but forgot to make a pull request.

I created it now https://github.com/tabler/tabler-react/pull/368 but there are some merge issues I believe.

Maybe its easier to just close mine and do one yourself.

[2018-11-23 16:18] gdg87 opened #369 "Container"
How can I use the "container-fluid" bootstrap class instead of  "container"?

[2018-11-27 15:21] AaronCoplan commented on #366
The intended behavior of `Form.DatePicker` is that the `defaultDate` prop is the initially rendered date.  When you change the `defaultDate` prop, it will not cause a re-render because that is simply passed to the initial state.

Can you clarify a little more about the picker showing max date when date is 1 or showing 1 when it changes to 2?

[2018-11-27 15:29] AaronCoplan commented on #324
@GregoryHamel Any update on this?  Hoping to close #292 soon

[2018-11-27 15:39] AaronCoplan opened #372 "Keep CSS in sync with tabler/tabler?"
#365 has modified our CSS - we should diff our CSS file with the latest on [tabler/tabler](https://github.com/tabler/tabler) and see if there are any changes we should make.

[2018-11-27 16:03] #364 closed

[2018-11-27 20:46] GregoryHamel commented on #372
@AaronCoplan I think we should keep css differences at the component level instead of changing the actual tabler CSS (see the Tooltip Component for an example). This would allow us to keep on pulling the actual CSS from tabler. What do you think?

[2018-11-29 03:26] mattsoftware opened #376 "It is not clear which notifications in a notifications tray are unread"
When listing the notifications in the tray it is not clear which ones have been read and which ones not. Passing down if a message is unread or not should not be a big deal, but how do we indicate in the interface which ones?

Should we simply provide a className on the notification and style it to be a light blue background or something that fits the theme well?

We could also use the red dot, or

[2018-11-29 14:21] GregoryHamel commented on #376
@Mattsoftware, I see what you are saying, but when looking at the Tabler demo, it isn’t really implemented either.
Maybe the notification were always supposed to be unread only.
I’m sure you could add a `color` prop to the notification component and add a `color-primary` or `color-secondary` class for unread. Have a look and see if that works for you. I haven’t tested it on my end, but that’s the

[2018-11-29 17:58] AaronCoplan commented on #376
I'm open to deviating from the Tabler demo in some aspects, but if we do, we should keep a document with the differentiations somewhere.  However, another alternative is to provide an optional property `isRead?: boolean`.  Then if people wanted a shorthand way to do it they could use our `isRead` property, or if they wanted to customize it they could utilize the `className` property.

[2018-11-29 22:07] mattsoftware commented on #376
OIC... @GregoryHamel that makes sense.

Pondering my previous pull request, @AaronCoplan , do you think we can drop the unread property from the notification tray altogether. The unread property can be inferred based on the notificationsObjects.length property. It will then be more obvious what this section is for, basically only unread notifications rather than a mixture of all notifications any

[2018-11-30 01:42] GregoryHamel commented on #376
Ok, so I've been thinking about this a little bit tonight... There has to be a reason for the _new notification_ red dot, which would probably mean that there should be a way to differentiate between old and new notifications. Now I tried adding a `bg-light` class and it doesn't look too bad for a different notification look. Have a look:
![screen shot 2018-11-29 at 20 39 41](https://user-images.g

[2018-11-30 01:45] mattsoftware commented on #376
I agree, that looks great to me.... but my guess is the dot is literally meant to say, "look at me, theres something in here" (otherwise it would be a badge with the number of unread, yea?)

So I am thinking no dot = no notitifications, red dot = notifications, mark all as read = make all notifications go away

But I am happy either way, as long as its clear :)

[2018-11-30 20:18] AaronCoplan commented on #376
I think we should keep the unread property - this gives project's using our package the flexibility to decide for themselves whether to only show unread notifications or all notifications in the tray.

[2018-11-30 20:30] #366 closed

[2018-12-02 12:56] Thomas-Smyth commented on #361
Done some more experimenting, it seems that the active state is being passed correctly to the `Nav.Link` component, but it's children something goes wrong. That seems to do with React Router's `exact` prop not being present.

![Issue](https://i.gyazo.com/9bc5f45c487e1779c3026a130161e210.png)

[2018-12-03 22:05] mattsoftware commented on #376
Fixed with https://github.com/tabler/tabler-react/pull/378

Thank you

[2018-12-03 22:05] #376 closed

[2018-12-05 04:50] #361 closed

[2018-12-05 04:51] jonthomp commented on #361
:tada: This issue has been resolved in version 1.27.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.27.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 13:02] zkynet opened #385 "Documentation link broken and Demo site down"
https://r.tabler.io/tabler-react/documentation/

It seems some of your documentation links are broken.

Additionally the tabler-react demo link seems to be having https certificate issues.

[2018-12-07 18:46] AaronCoplan opened #387 "Implement new features from Tabler"
The Tabler dev branch (hosted [here](http://tabler.codecalm.net/dev/index.html)) seems to have implemented some cool new features that it might be nice for us to do as well

[2018-12-07 20:20] GregoryHamel commented on #385
Raised an issue with Tabler see [Issue #232](https://github.com/tabler/tabler/issues/232)

[2018-12-10 02:12] #385 closed

[2018-12-10 02:21] AaronCoplan commented on #385
Documentation should be back online, http://tabler-react.com/

[2018-12-12 09:24] Jatapiaro opened #391 "Toggler is not working"
The Toggler component is not working. I have to use the old switch component to make it work, but that leads to the problem that the style is not loaded.

[2018-12-20 10:27] emachiels opened #395 "Text of error page "go back" button not changeable"
Could it be possible to make the text on the "go back" button changeable through a property? When creating a multi-language web app, it is very inconvenient that the text is always "go back".

Button I am talking about: http://prntscr.com/lxe03e

[2019-01-14 11:03] bilo-io commented on #191
I was experiencing the same error message when running `yarn`. My scenario, and how I fixed it, if this helps anyone:

1. I had a locally linked dependency in my project (`yarn link {package_name}`)
2. I was pointing to a github branch of that dependency in `package.json`
3. when running `yarn` I got the error message: `An unexpected error occurred: "Reduce of empty array with no initial value".`

[2019-01-19 11:44] Thomas-Smyth commented on #391
Maybe provide a sample of your code? Seems to be working for me...

[![Image from Gyazo](https://i.gyazo.com/853eca29df55c14361c5938f19108470.gif)](https://gyazo.com/853eca29df55c14361c5938f19108470)

[2019-01-20 06:37] satishbabariya opened #399 "Sort Option in Table with Filter"

[2019-01-24 12:26] Thomas-Smyth opened #402 "Windows Precommit"
The current `precommit` script calls the command `./scripts/runflow`. This is not supported by windows, which means for every commit this has to be run manually and then committed with the `--no-verify` flag.

Would be nice to get this resolved.

[2019-01-26 22:44] NickAlvesX opened #403 "Is it possible to use the Form.Input with Redux-Form?"
I tried something like:

[code]

But this doesn't seems to work. Is there any way? Because in documentation I have seen in the Login Page component saying that "Can be easily wrapped with form libraries like formik and redux-form". How?

[2019-01-27 03:19] NickAlvesX commented on #403
I'm working with this workaround while it has no answers.

`import React, { Component } from 'react';
import {Form} from 'tabler-react';
import PropTypes from 'prop-types';

export default class Input extends Component {
    render() {
        const {
            input: { value, onChange }
        } = this.props;

        return <Form.Input {...this.props} value={value} onChange={value => onChange

[2019-01-27 04:42] SoorajSethumadhavan opened #404 "Avatar component does not have fallback for incorrect/unreachable URL"
The Avatar component should have a fallback onError support if the remote url referred in the imageURL does not work.
OR
The placeholder should work as fallback if the imageURL fails.

[2019-01-28 15:01] zabaala opened #406 "The dropdown component does not work"
On the documentation site itself, the dropdown does not work. I still tried to apply it to my project, but I did not succeed. Only AccountDropdown worked.

Is there anything wrong with the component or the documentation?

[2019-01-28 23:20] NickAlvesX opened #407 "Exact not working for subItems"
I see that the merge #383 solve the _exact_ question on the nav items, but there's none such implementation for the navBar subItems.

For example:

[code]

Would it be nice to `useExact: true` on each subItem.

[2019-01-28 23:33] zabaala commented on #369
I had to do the same thing. This work for me:

[code]

[2019-01-29 00:18] suyesh opened #408 "Is this like a clone of coinbase UI or did coinbase used this on their site?"

[2019-01-29 08:59] Thomas-Smyth commented on #407
I can look into this either today or tomorrow if no one else looks into it first.

[2019-01-29 12:37] NickAlvesX opened #409 "maxLength not working on Form Input."
This is pretty important and PR #386 solve it. LGTM.

[2019-01-29 20:10] AaronCoplan commented on #395
Sorry for the delay in merging this!  #398 has been merged and should address it.

[2019-01-29 20:10] #395 closed

[2019-01-29 20:20] AaronCoplan commented on #409
Closing this as #386 is merged.

[2019-01-29 20:20] #409 closed

[2019-01-29 20:21] jonthomp commented on #385
:tada: This issue has been resolved in version 1.28.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/tabler-react)
- [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-29 20:23] AaronCoplan commented on #407
@Thomas-Smyth Feel free to look into this!  Thanks!

[2019-01-29 20:31] AaronCoplan commented on #369
@zabaala Thanks for posting this!  I will close this, but if it requires further follow up, please comment and I will reopen it.

[2019-01-29 20:31] #369 closed

[2019-01-29 20:34] AaronCoplan commented on #337
Going to close this for lack of details.  Feel free to comment if it needs to be reopened.

[2019-01-29 20:34] #337 closed

[2019-01-29 20:35] AaronCoplan commented on #191
Thanks for posting this @bilo-io !

[2019-01-29 20:35] AaronCoplan commented on #391
Agreed with @Thomas-Smyth , a code sample would be appreciated :)

[2019-01-29 20:37] AaronCoplan commented on #406
I'm going to close this for now as I think that should work until we get the "children" prop to work.  Feel free to comment to let me know if I'm wrong or if you're still having trouble and I'll reopen the issue.

[2019-01-29 20:37] #406 closed

[2019-01-29 22:56] Thomas-Smyth commented on #402
[![Image from Gyazo](https://i.gyazo.com/755e7925664944b72c7261291a350745.png)](https://gyazo.com/755e7925664944b72c7261291a350745)

It seems that `shx` does not support running bash files. However, it's Github page says:

Maybe changing this script into a ShellJS scripts would resolve this issue?

[2019-01-30 01:40] AaronCoplan commented on #402
@Thomas-Smyth I agree - good call!  I will try porting the script to ShellJS tonight and will create a PR.

[2019-01-30 13:10] NickAlvesX commented on #360
It's happening again.

[2019-01-30 13:15] NickAlvesX opened #411 "Documentation is not working"
Same problem of #360 and #286.

[2019-01-30 16:49] Thomas-Smyth commented on #402
Whilst on the topic of flow, got any ideas on the cause of this:

`On Windows, paths must be less than 248 characters for directories and 260 characters for files. This path has 265 characters. Skipping E:\thoma\Documents\Development\OS Contributions\tabler-react\example\node_modules\tabler-react\example\node_modules\babel-preset-react-app\node_modules\@babel\plugin-syntax-object-rest-spread\node_

[2019-01-31 00:51] AaronCoplan commented on #411
Apologies, this should be fixed now.  I am putting the gh deploy script to regenerate the documentation each time.  Hopefully that will prevent this from occurring again in the future.  Really sorry to those affected.

[2019-01-31 00:51] #411 closed

[2019-01-31 00:52] AaronCoplan commented on #360
Should be resolved now.  Very sorry to those impacted.

[2019-02-03 06:16] NickAlvesX opened #414 "Add inputRef to Form.Input"
That's crucial to use it with libraries like `react-text-mask`.

[2019-02-04 02:09] Jatapiaro commented on #391
It was my mistake, another css component was overriding the Form.Switch. Sorry

[2019-02-04 02:09] #391 closed

[2019-02-05 10:31] SoorajSethumadhavan commented on #404
Any updates on this??

[2019-02-10 16:56] treyhakanson commented on #324
Is there any update on this? If not, I'd be open to working on this

[2019-02-11 17:26] joaquinwojcik opened #418 "Add accept attribute to Form.FileInput"
Hi! Greetings from Argentina.

First, I want to thank all the colaborators of this project. Its just amazing.

Now, I'm trying to use the [accept attribute for "input file"](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#attr-accept) for only allow txt files, but I've noticed that Form.FileInput doesn't have support for this.

**Code:**
[code]

**Result:**
[code]

**Expected

[2019-02-11 18:32] GregoryHamel commented on #324
@treyhakanson Please go ahead! I really haven't had the chance to look into this any further...

[2019-02-11 18:37] GregoryHamel commented on #418
@joaquinwojcik, that looks like a simple addition of props! Please make a PR with your changes once you are done.

The file you are looking for is `./src/components/Form/FormFileInput.react.js`

[2019-02-12 13:35] joaquinwojcik commented on #418
Thank you @GregoryHamel !

Im getting this error when try to commit my changes.

[code]

Im using BASH on Windows 10.

[2019-02-12 15:33] GregoryHamel commented on #418
@joaquinwojcik, this is a known issue under Windows, see #402.
For now I would recommend that you do a `yarn flow` and make sure there is no warnings or errors there and then proceed with `yarn cm --no-verify` to do the commit.

[2019-02-12 17:14] joaquinwojcik commented on #418
@GregoryHamel PR is ready!

Very very thanks for all the help provided!

[2019-02-12 17:34] GregoryHamel commented on #418
@joaquinwojcik, my pleasure! I am not as active on this repo as I used to be, but I am glad to help people keep it alive when I can 👍

[2019-02-14 11:15] Coriou commented on #291
Hey man. Sorry to dig this up, but I'm having troubles configuring my loader with Next too. Would you mind sharing your relevant settings please ? Thanks 🙏

[2019-02-16 16:56] SoorajSethumadhavan commented on #404
Hi,
I am a newbie to react and JS in general... I was checking out the code in Avatar.react.js.
`<span
      className={classes}
      style={
        imageURL
          ? Object.assign(
              {
                backgroundImage: `url(${imageURL})`,
              },
              style
            )
          : style
      }
      onClick={onClick}
      onMouseEnter={onMouseEnter}
      onM

[2019-02-20 12:28] meiremans opened #424 "SiteWrapper: Nav links in account dropdown"
Hi
 I cannot seem to figure this one out.
When i use the regular navbar:
`
const navBarItems: Array<navItem> = [
  ...
  { icon: "user", value: "Profile",  to: "/profile", LinkComponent: withRouter(NavLink) , useExact: true  }
];`

This works as intended and the profile page loads with my Redux store

However if i want the profile link where it is supposed to be:
`let accountDropdownProps = {
  av

[2019-02-26 18:52] jsteel715 commented on #107
Sounds good to me

[2019-02-27 13:23] nating opened #428 "FormInput: autocomplete attribute"
Inputs can have [autocomplete attributes](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofilling-form-controls%3A-the-autocomplete-attribute) which specify what type of input they are so the browser can fill them automatically.

Don't have time to implement it right now, but thought I would make note of it's absence. A new attribute (`+autocomplete?: string`) just need

[2019-03-10 03:03] lijy91 opened #429 "Can we support `style` to all components?"
If I need to make small adjustments styles for a component, it will be very difficult.

I hope I can set it in style
[code]

[2019-03-12 22:13] joaquinwojcik commented on #418
accept attribute is now available! #419

[2019-03-12 22:13] #418 closed

[2019-03-13 04:32] douglaszaltron commented on #399
+1

[2019-03-18 19:33] Steveb-p opened #432 "404 issues on demo"
Which can probably be solved by copying `example/build/index.html` to `example/build/404.html` before deploy. This should cause that page to become the one displayed when 404 is encountered, essentially allowing linking directly to examples - like http://tabler-react.com/charts.

Solution from this comment: https://github.com/facebook/create-react-app/issues/1765#issuecomment-443598257

[2019-03-29 14:35] ellis commented on #20
@jonthomp Can you say how the pull request from @shreedhan looks to you?  I'd love to see it merged if it's ok.

[2019-04-09 10:10] essaricy opened #434 "Invalid DOM property `minlength`. Did you mean `minLength`"
Getting couple of warnings when using Form.Input elements. Below are some
Invalid DOM property `minlength`. Did you mean `minLength`?
Invalid DOM property `maxlength`. Did you mean `maxLength`?

Looks like an issue with case-sensitive

[2019-04-11 08:08] preethamntp commented on #434
Getting these message while using forms
Warning: Invalid DOM property `minlength`. Did you mean `minLength`?
    in input (created by Form.Input)
    in Form.Input (created by FormTextInput)
Warning: Invalid DOM property `maxlength`. Did you mean `maxLength`?
    in input (created by Form.Input)
    in Form.Input (created by FormTextInput)

[2019-04-11 12:00] aninaslyan opened #436 "Login bage with other values than email and password"
I am trying to use `LoginPage`[http://tabler-react.com/documentation/#loginpagereact](url) with other values than email and password (the same is for `RegisterPage` component) for instance I would like to add username input field as well. It seems it's not implemented yet.

[2019-04-12 13:14] #436 closed

[2019-04-24 07:06] Levino opened #441 "Custom color theme"
Great library! I would like to use a different color scheme though. Do I have to build it myself? Is there any way to configure the package when used as a dependency?

[2019-04-26 08:01] Levino commented on #20
This should be done at [DT](https://github.com/DefinitelyTyped/DefinitelyTyped) not here!

[2019-04-26 09:23] maracuja-juice commented on #20
@Levino Depends on how the project wants to handle it.

[2019-04-26 09:46] Levino commented on #20
I would rather say it depends on whether or not the maintainers want to follow best practices or do something funky their own way. https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2019-04-26 11:36] #20 closed

[2019-04-26 12:06] Levino commented on #20
Maybe someone could open an issue over there and reference it here.

[2019-05-15 07:11] yash2code opened #443 "multiple select in form.select"
How can I use Form.Select so that one can select multiple options from the dropdown.

` <Form.Select
            label="Time Slots"
            name="timeslots"
            onChange={this.handleChange}

            <option key="all" value="all">
              All{" "}
            </option>
            {slots.map(e => {
              return (
                <option key={e.value} value={e.value}>

[2019-05-15 08:58] Levino commented on #274
This is not in the docs, is it?

[2019-05-17 11:03] Levino commented on #424
It is just not supported. So not a bug but a feature. I have to say is way too complicated here. I mean: I am seriously not able to implement a logout functionality in a proper way:
- For the `onClick` function I need a history object to push to but for the history object I need to wrap the component factory function in `withRouter` which leads to attempt two:
- I pass in a custom component that I

[2019-05-23 12:33] aninaslyan opened #445 "Which icons are included in this package?"

[2019-05-23 12:35] aninaslyan commented on #445
I found out it uses some `https://feathericon.com/` icons, but not all of them. It would be nice to get the list of all icons attached at least in docs.

[2019-05-25 17:18] WoLpH opened #447 "Documentation links broken when refreshing or using direct links"
When we open a direct link to the documentation we get a 404: http://tabler-react.com/gallery
Whereas clicking on the link from http://tabler-react.com/ works just fine.

This is a known issue which has a workaround though: https://stackoverflow.com/questions/46056414/getting-404-for-links-with-create-react-app-deployed-to-github-pages

The easy method is using `hashHistory`, the "better" solution

[2019-05-31 01:49] hjarrell commented on #445
You can find all the icons here if that is what you are looking for: http://tabler-react.com/icons

[2019-05-31 23:30] #434 closed

[2019-06-01 00:32] jonthomp opened #458 "Version 2 (typescript, hooks, functional components)"
I've been thinking about a journey towards version 2 and some big internal changes that I think should happen along the way...

Given that Typescript is fast becoming, if it isn't already, the most widely used type system in React open source projects it may be a good time to also make the switch.

Components should become React Hooks powered function components where possible.

Everything should

[2019-06-01 02:09] jonthomp commented on #434
:tada: This issue has been resolved in version 1.30.0 :tada:

The release is available on [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.30.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-01 18:40] #445 closed

[2019-06-01 18:43] jonthomp commented on #441
At the moment you would need to do it yourself but is something I would like to work into version 2 so hopefully soonish

[2019-06-01 18:43] #441 closed

[2019-06-01 18:44] jonthomp commented on #429
This will be done in version 2

[2019-06-01 18:44] #429 closed

[2019-06-01 19:18] jonthomp commented on #350
I have submitted the request to allow us to use AppVeyor

cc @codecalm

[2019-06-01 19:29] #428 closed

[2019-06-01 19:37] jonthomp commented on #289
Fixed by https://github.com/tabler/tabler-react/commit/bdd8f0cc2b66db1f89cf77b7ece22c128ff8e32a

[2019-06-01 19:37] #289 closed

[2019-06-01 19:39] #51 closed

[2019-06-01 19:42] jonthomp commented on #447
Duplicate of #432

[2019-06-01 19:42] #447 closed

[2019-06-01 19:58] jonthomp commented on #404
I think it makes the most sense for you to just https://github.com/Sitebase/react-avatar in this situation.

[2019-06-01 19:58] #404 closed

[2019-06-01 20:37] jonthomp commented on #292
This should only be an issue when using a StaticRouter, the official solution appears to be: destructure the `staticContext` prop when you `withRouter` https://github.com/ReactTraining/react-router/issues/4683#issuecomment-285707741.

Note: if I remember correctly the only reason we are wrapping the `NavItem`s in the example is so that they get the `active` prop.

[2019-06-01 20:37] #292 closed

[2019-06-01 22:45] Xumochuan opened #460 "How to use tabler theme in my Web site?"
Hi.
Thanks for your amazing React component.
I wanna develop react js app with my business.
I want to use header and menu same as Tabler Template.

![header_menu](https://user-images.githubusercontent.com/47884397/58754411-f39b1800-8501-11e9-9eba-d902b9934ced.png)

How can I do?
Hope your kind help.

Sincerely

[2019-06-01 22:48] hasansan07 commented on #460
@Xumochuan please check Sitewrapper component in example folder of the repo.

[2019-06-01 23:54] jonthomp commented on #428
:tada: This issue has been resolved in version 1.30.1 :tada:

The release is available on [GitHub release](https://github.com/tabler/tabler-react/releases/tag/v1.30.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-01 23:58] jonthomp commented on #407
This has been released in 1.30.1

[2019-06-01 23:58] #407 closed

[2019-06-01 23:59] jonthomp commented on #443
The `multiple` prop has been added in v1.30.1

[2019-06-01 23:59] #443 closed

[2019-06-02 00:03] Xumochuan commented on #460
Hello
Thanks for your kind contact.
I have tried above method that you attached and I get some result.

![improvement](https://user-images.githubusercontent.com/47884397/58754948-c43dd880-850c-11e9-8386-2fc6398acf2d.png)

Could you do me a favor to get improvement my project?
Thanks again :)

[2019-06-02 00:47] jonthomp commented on #414
Does the [FormMaskedInput](http://tabler-react.com/documentation/#formmaskedinputreact) component cover your use case?

[2019-06-02 00:53] jonthomp commented on #402
I'm closing this as the proposal for version 2 moves us away from `flow`, plus these issues should get picked up once we make progress on #350 (I'll point to this issue there too)

[2019-06-02 00:53] #402 closed

[2019-06-02 00:54] jonthomp commented on #350
Note: once this is up and running #402 should be re-investigated if required

[2019-06-02 14:54] #432 closed

[2019-06-02 16:16] elucidsoft commented on #458
I have to be honest here, using Typescript would improve this framework by a significant amount.  I just spent 2 hours on a really dumb bug where I had Router instead of Route and I sware I looked at it like 500 times and still didn't notice my stupidity.  But even beyond that, I have to keep the documentation up constantly, where as if I had strong typing I would be able to utilize the intellisen

[2019-06-03 02:36] elucidsoft opened #461 "Documentation WebSite is down"
The documentation webiste is down @jonthomp @ecoleman @codecalm @akabraham @mattsoftware

[2019-06-03 09:39] hasan-sytel commented on #461
I think it is resolved now, it is accessible @elucidsoft

[2019-06-03 16:17] dlares opened #462 "Site.Wrapper / Navprops icon"
How can I define the prefix of the set of icons to use in the Wrapper component in navProps?

[2019-06-03 18:30] jonthomp commented on #461
Sorry it was down for a few hours, fixed earlier today.

[2019-06-03 18:30] #461 closed

[2019-06-03 18:43] elucidsoft commented on #461
Thanks

[2019-06-04 14:52] elucidsoft opened #463 "Latest release not on npm"
Can we get the latest release on npm, it resolves several issues I am having currently.  I guess I could just pull the source, which I may do for more flexibility anyways.

[2019-06-04 22:04] jonthomp commented on #463
@elucidsoft sorry not sure why npm publishing didn't work with the releases, 1.30.1 is now up.

[2019-06-04 22:04] #463 closed

[2019-06-05 12:37] jonthomp commented on #458
@elucidsoft there is now a fully converted to typescript branch here https://github.com/tabler/tabler-react/tree/typescript if you want to check it out

[2019-06-05 14:29] elucidsoft opened #464 "Expose underlying controls in components?"
Is there a way to expose the underlying controls in components or to inject in properties to the html elements? For instance on the Forms component I would like to be able to disable them under certain conditions by passing in disabled attribute to the underlying html element. But I don't see a way to currently do that?  I was going to add the prop for disabled, but would it make sense to be able

[2019-06-05 14:36] rollymaduk commented on #458
@jonthomp  thanks and nice work, please how should it be used in a create-react-app typescript project

[2019-06-05 14:41] rollymaduk commented on #458
I cannot seem to find the module after installing the branch

[2019-06-05 15:46] elucidsoft commented on #458
This doesn't appear to run when I use yarn start it gives a ton of warnings about circular dependencies and then just sits there...Not sure what it's doing tbh...

[2019-06-06 06:12] jkunwar opened #465 "font awesome icon not working in nav icon"
i added prefix fa for font awesome also included font awesome cdn, but font awesome did not work on nav icon

[2019-06-08 00:59] jonthomp commented on #464
@elucidsoft there was originally a decision made to not spread any additional props to the underlying components, this has caused several issues along the way but is something I'm removing in version 2. So I guess the answer to your question is, watch this space!

[2019-06-08 12:02] jonthomp commented on #458
@elucidsoft the typescript branch has been updated to fix some things, including the circular dependencies, however, you might be more interested in the [version-2](https://github.com/tabler/tabler-react/tree/version-2) branch as that includes further fixes and will be where work continues

[2019-06-08 12:04] jonthomp commented on #465
@jkunwar please could you provide some example code or a link to a working example?

[2019-06-08 12:05] jonthomp commented on #462
@dlares I'm sorry but you can't at the moment, I'll add this to version 2

[2019-06-08 12:06] #460 closed

[2019-06-08 12:08] jonthomp commented on #325
Fixed in the WIP version 2

[2019-06-08 12:08] #325 closed

[2019-06-08 12:10] jonthomp commented on #403
Sorry I'm afraid there isn't at the moment, working on this as part of version 2

[2019-06-08 12:53] jonthomp commented on #350
@codecalm I've also requested access for https://www.chromaticqa.com/ too would be awesome if you could approve them

[2019-06-08 15:59] elucidsoft commented on #458
Alright, will take a look.

[2019-06-11 16:06] jkunwar commented on #465
https://github.com/jkunwar/tabular-react-test

here is the sample repo. I copied SiteWrapper file from demo and added **fa** prefix in navitem array but there is still  **fe** prifix

[2019-06-12 00:11] jonthomp commented on #458
A quick note to say that the version 2 branch CSS is now up-to-date with the [latest version of tabler](https://github.com/tabler/tabler/tree/tabler-v1)

[2019-06-13 11:06] jonthomp commented on #372
Closing because this is now implemented on the version 2 branch

[2019-06-13 11:06] #372 closed

[2019-06-14 00:13] jonthomp commented on #424
@meiremans as @Levino suggests, this is a restriction in how we built version 1. If you are still using Tabler, you might be interested to know the WIP v2 solves these issues and gives you whole lot more freedom. You can check out the progress on [branch](https://github.com/tabler/tabler-react/tree/version-2). I hope to release an alpha version in the next week.

[2019-06-14 00:13] #424 closed

[2019-06-14 01:23] jonthomp commented on #465
Thanks @jkunwar, unfortunately, it's not currently supported. The WIP version 2 solves this

[2019-06-14 01:23] #465 closed

[2019-06-14 09:32] jonthomp commented on #338
Closing this, but in case anyone does come back here - this is a limitation in the version 1 implementation, the only way to get the value is using the `onChange` prop.
This has changed in v2 which allows you to pass props down to the 3 `select` elements/

[2019-06-14 09:32] #338 closed

[2019-06-14 12:22] jonthomp commented on #202
Fixed in version 2

[2019-06-14 12:22] #202 closed

[2019-06-14 16:17] jonthomp commented on #414
Version 2 is now forwarding `ref` to the `input` component

[2019-06-14 16:17] #414 closed

[2019-06-14 17:08] jonthomp commented on #464
This is now done for `form` related components and some others on v2 branch

[2019-06-14 17:08] #464 closed

[2019-06-14 19:33] jonthomp commented on #403
These are now implemented as part of v2.

[2019-06-14 19:33] #403 closed

[2019-06-19 06:21] salamwaddah opened #466 "Dropdown cards doesn't look right in tables"
![image](https://user-images.githubusercontent.com/26627088/59741399-f3c64200-927b-11e9-8109-76d4708dd6bf.png)

[2019-06-21 09:58] jonthomp commented on #466
Thanks @salamwaddah I'll resolve this as part of version 2

[2019-06-21 10:30] jonthomp commented on #303
This is now possible in version 2

[2019-06-21 10:30] #303 closed

[2019-06-21 10:31] jonthomp commented on #462
This is now implemented for version 2

[2019-06-21 10:31] #462 closed

[2019-06-22 22:17] jayb967 opened #467 "TablerLoginPage logo documentation"
I was not able to find documentation on changing the logo and/or removing in meantime for the login template. In docs it is also shown like this:
![Screen Shot 2019-06-22 at 3 08 57 PM](https://user-images.githubusercontent.com/23585399/59969378-c9d18180-9500-11e9-9911-071876a34b0f.png)

Is this possible?

[2019-06-23 00:57] ronaldaraujo commented on #467
I am also the same question.

[2019-06-23 20:46] diegodorado commented on #467
this seems to be hardcoded in the template...

[2019-06-24 11:27] MarioRover opened #468 "text-decoration-skip-ink warning"
Use "text-decoration-skip-ink" instead "text-decoration-skip" .
There is warning about above problem ! version 1

[2019-06-27 12:16] jonthomp commented on #324
Closing as this has now been completed in version 2

[2019-06-27 12:16] #324 closed

[2019-06-28 11:36] jonthomp commented on #458
I've just published the first alpha 🎉

`npm install tabler-react@alpha`
`yarn add tabler-react@alpha`

[2019-06-28 11:42] jonthomp commented on #467
This has been resolved in the version 2 alpha

`npm install tabler-react@alpha`
`yarn add tabler-react@alpha`

[2019-06-28 11:42] #467 closed

[2019-06-30 12:58] jonthomp commented on #387
All new features are now implemented in version 2.

[2019-06-30 12:58] #387 closed

[2019-07-01 17:52] Greg-Hamel commented on #458
@jonthomp Glad to see you back at work on the new version, is there anything you need help with?

Lots of good changes made so far (and fixes to earlier issues too!), keep up the good work.

[2019-07-02 13:59] IniZio commented on #458
Are there issues we can refer to for the progrss and remaining tasks to help with?

[2019-07-12 07:40] ashokganika opened #473 "yarn install throwing errors: error Command failed with exit code 1."
C:\Users\user\Desktop\my-apps>yarn start
yarn run v1.18.0-20190703.1445
$ react-scripts start
Starting the development server...

events.js:174
      throw er; // Unhandled 'error' event
      ^

Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:240:19)
    at onErrorNT (internal/child_process.js:415:16)
    at process._tickCallback (internal/process/nex

[2019-07-15 19:05] edwinvandeven opened #474 "Form.Help appears to be not working"
Nothing happens at the moment when clicking the form help: https://tabler-react.com/form-elements (It's next to the zip code box).

`
<Form.Help message={<><p>ZIP Code must be US or CDN format. You can use an extended ZIP+4 code to determine address more accurately.</p><p class="mb-0"><a href="#">USP ZIP codes lookup tools</a></p></>} />
`

[2019-07-23 02:58] rz-robsn opened #475 "Mobile Header not working"
Hello,

I'm using the 2.0.0 alpha and the header is broken on the mobile variant :

![screencast 2019-07-22 22-40-42](https://user-images.githubusercontent.com/968239/61679109-1dd3af80-acd3-11e9-94e2-348257fa683e.gif)

As the gif shows the issues are :
- The logo got replaced with a red square
- The NavBar was not collapsed
- The hamburger menu button to toggle the NavBar did not appear.

I've jus

[2019-07-26 16:12] jonthomp commented on #458
@Greg-Hamel @IniZio sorry for the delayed reply, I've been interviewing (accepted an offer yesterday!).

Now as for helping out, there are 2 main tasks that need looking at before release:
- go through all the components and make sure the documentation exists and is fully up to date
- find people with version 1 that would be willing to try out v2 and report back with issues

I'm currently adding i

[2019-07-26 16:14] jonthomp commented on #468
As this is an issue in the base CSS please report it in the main repo https://github.com/tabler/tabler

[2019-07-26 16:14] #468 closed

[2019-07-26 16:15] jonthomp commented on #473
@ashokganika I don't see anything there related to tabler-react, please can you provide more details and maybe some code examples?

[2019-07-28 18:49] jasl opened #476 "padding issue"
![image](https://user-images.githubusercontent.com/1024162/62011439-14eb4e00-b1ab-11e9-8ad8-250f9eeac123.png)

See the screenshot, you can see there is not padding for 'active' background (`Pages`) and the underline (the blue line below `Forms`)

[2019-07-29 20:00] nathaliaceballoshurtado opened #477 "Question: Is there a way to increase the letter(font-type)?"

[2019-08-02 06:08] burczu opened #478 "Form.Ratio does not pass name attribute to the resulting input element"
The resulting input element created when by the use of `Form.Ratio` component does not get the `name` attribute.

This is my example component:

[code]

and this is the result:

[code]

[2019-08-31 19:38] premedios opened #481 "yarn install throws errors in example folder"
When I try to run the command ```yarn install``` in the example folder, it returns the following error message:
[code]

[2019-09-28 11:47] thejdavid opened #491 "Page / Card componement prevent scrollable Body"
It seems that the Page / Card components are preventing any scrollable body even when the overflow is set to scrollable in the css. It's automatically overwritten to hidden. Watching at the tabler.css file didn't help either.

Couldn't find any explanation in the doc as to why it's happening and how to "fix" it

[2019-11-12 19:36] hari-mg opened #492 "YARN ERROR : error: Command failed with exit code 1."
Tried running **yarn start** for a react native app and had this error.
Tried a lot of things but still not working

_Error:_

Would be really glad if someone could help me with this issue

[2019-11-13 08:57] #492 closed

[2019-11-13 21:46] dgeorgiev commented on #475
Hey @rz-robsn did you find a workaround for this?

[2019-12-03 00:01] klip opened #493 "Attribute step is not supported"
For Form.Input type='number' attribute step is not supported

[2019-12-06 19:20] Arthur-Kamau opened #496 "show notifications"
I cannot find any documentation on how to  show notification,could this feature be added in future releases please,thank you.

[2019-12-10 09:50] srounce opened #497 "Global CSS"
Is it possible to use CSS modules or similar? The global styles collide with those of other packages/components.

[2020-01-01 08:56] salarvand opened #501 "Login Logo Can not Change!"
Logo in login page is embed (**'./demo/logo.svg'**) and there is not prop for change it.

[2020-01-04 07:30] tvb commented on #458
@jonthomp is this still in development? Last commit is 6 months old and far behind the tabler HTML repository. How can we get this project back up and in sync?

[2020-01-06 00:59] billypap1 opened #502 "Collapsible Mobile Menu doesn't close"
I'm using tabler-react for my project. All work perfect but I have a problem with Collapsible Menu on mobile.
When I click toggle-button, it expands the menu, but when I click to navigate (link), the menu is still there. It doesn't close. Is there any way to close mobile menu on Navigate to a Page (on click link)? (Single Page Application)

[2020-01-08 15:34] nisarhassan12 opened #503 "yarn start fails on Ubuntu 19.04"
In the example directory after `yarn install` when i try to run `yarn start` I get the following:

![Screenshot from 2020-01-08 20-33-30](https://user-images.githubusercontent.com/46004116/71990999-3a01e380-3256-11ea-9ca5-1c8b60f911b9.png)

![Screenshot from 2020-01-08 20-33-39](https://user-images.githubusercontent.com/46004116/71991002-3a9a7a00-3256-11ea-8377-08fa045918e8.png)

[2020-01-12 23:23] MichaelSternNYC opened #504 "instructions for minimal dashboard?"
I have the demo dashboard running, and I’d like to create the tabler version of ‘hello world’ but can’t find any documentation beyond the installation instructions. Does any documentation exist beyond this and the source code?

[2020-01-14 18:15] AlexCatch opened #505 "Navbar styles seem to be wrong with current Tabler scss files"
Using version `^2.0.0-alpha.1` and compiling the scss files from the `tabler` repo manually, the class names for the site nav seem to be wrong - causing it to not display properly.

For example the header component on the homepage (https://preview.tabler.io/) has the class `header` but using the `Site.Header` component this class is lacking so it doesn't render right.

[2020-01-25 09:34] Mav1st opened #506 "Data-Tables"
How i can make an data-tables with tabler ?

[2020-02-03 02:12] taohannan commented on #503
happened in windows 10 also

[2020-02-23 23:42] jonthomp commented on #458
👀

[2020-02-26 09:41] isaacdarcilla opened #507 "Data table not showing"
I think there is a conflict in require.js

[2020-02-28 09:19] WonSik36 opened #508 "Card with loader in Documentation doesn't work"
I recently studied react js. I looked at the tabler-react documentation page and ran the example code. Among them, I ran the [Card with loader](http://tabler-react.com/documentation/#!/Card/6) in my application, but it didn't work (didn't collapse).

I used `create-react-app` to initialize the working directory and import tabler-react via `npm install tabler-react@alpha`. The source code for my Ap

[2020-03-02 19:10] raczkerry commented on #274
Hi @DanielGibbsNZ , I have the same issue and I can't find how to add an onClick handler to an <AccountDropdown> item. How did you managed to do it?

[2020-03-15 16:13] lucasgdev opened #511 ""xs" prop not working on Grid.Col"
Hi guys, I'm using Tabler 1.30.1 on a Gatsby project and noticed that the xs prop is not working as expected on grid cols, all other breakpoint props are working as expected. The col-xs-* is added as expected but the style is not being applied. Next I'm sending a gif simulating it

![Mar-15-2020 13-11-33](https://user-images.githubusercontent.com/6627610/76705402-905c2a00-66be-11ea-99b4-098e44f0df

[2020-03-22 23:42] yingw787 commented on #458
@jonthomp is there a public roadmap of tickets we can contribute to?

[2020-03-30 04:05] ebarahona commented on #359
<Form.Group label="Countries">
    <Form.Select>
    {countries
    .map((item, index) => (
        <option
          key={index}
          value={item}
          onChange={handleChange}

        {item}
        </option>
    </Form.Select>
    </Form.Group>

// Somewhere
const countries = ["UK", "Germany"];

[2020-04-04 10:55] antoine-pous opened #512 "Mising title prop for Button"
Hi!

Actually `title` property ha no effect on `Button` component.

[2020-04-15 21:38] rymkapro opened #513 "React.createFactory deprecated"
Hi, I'm getting such warning in my browser developer tools:
**React.createFactory() is deprecated and will be removed in a future major release. Consider using JSX or use React.createElement() directly instead.**

Is it ok? Thanks for reply!

[2020-05-08 11:26] Gyansai commented on #503
delete yarn.lock in main directory and rename the version as needed(as shown in the terminal) . and again perform yarn install

[2020-05-16 03:28] gtaylor44 commented on #513
Is there any pull request for this?

[2020-05-16 04:04] gtaylor44 commented on #513
I've created a pull request for this:

https://github.com/tabler/tabler-react/pull/516

[2020-05-17 09:37] sergibc opened #517 "GalleryCard.Image target '_blank' doesn't work"
Having the following:
`<GalleryCard.Image src={imageFile} href="destionation_url" target="_blank" />`

The "destination_url" is opened in the same page.

[2020-05-23 16:58] kimtangs opened #518 "[help]"
I want to edit the CSS becuase SUB-MENU is shown automatically
when I mouse over the MAIN-MENU(NAV),
but I don't know where to fix it.
(For reference, it is an /example project)
Please let me know.

[2020-05-28 19:54] jonthomp commented on #458
A brief update...waiting for tabler core to hit a couple more alpha versions before diving into this again heavily

[2020-05-28 19:55] yingw787 commented on #458
Thanks for the update Jon!

On Thu, May 28, 2020 at 3:54 PM Jon Thompson <notifications@github.com>
wrote:

[2020-06-06 13:56] franva commented on #467
hi @jonthomp  I git cloned the master branch and I am still seeing the hardcoded logo. Could you please show me how did you fix it?

[2020-06-23 06:34] dannypaz commented on #517
@sergibc `target` needs to be added to the component https://github.com/tabler/tabler-react/blob/master/src/components/GalleryCard/GalleryCardImage.react.js

As a workaround, I have wrapped the `GalleyCard` in an `<a>` and removed styling. The functionality is what you would need.

[code]

[2020-07-07 23:30] yingw787 opened #522 "Heap out of memory issues when running `npm start` on branch version-2"
Hello,

I was interested in using tabler and specifically the preview-dev version, and I had wanted to see whether the Tabler React team was sync'ing with that branch. I cloned the repository, installed the dependencies, and then proceeded to get an out of memory error when compiling the TypeScript. I'm not quite sure what happened.

Here are various debug logs I've gotten from trying to run `npm

[2020-07-07 23:38] yingw787 commented on #522
Never mind, following the instructions in the README.md solved this issue. I'm going to go ahead and close out this issue.

[2020-07-07 23:38] #522 closed

[2020-07-19 05:07] moraes65 commented on #299
I had the same problem:

index.js:1406 Warning: React does not recognize the `staticContext` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `staticcontext` instead. If you accidentally passed it from a parent component, remove it from the DOM element.
    in a (created by LinkAnchor)
    in LinkAnchor (created by Context.Consum

[2020-07-23 22:17] hamzahasbi commented on #518
Hello mate if you're question is about overriding CSS i think you may test several approaches to solve that :

- if you are sass or any css preprocessor you can import their css first and override the properties that you want

- Or you can try importing your custom css in your component (not that clean)

I managed to solve the issue with the first approach (cuz i'm using sass ).
@import "../../nod

[2020-07-27 10:09] vivek-reddy-7 commented on #414
`ref.current` is still `null`. Isn't the version still 1.xx? can you explain how to solve this issue?

[2020-07-29 09:52] YeapGuy opened #523 "TextArea is missing the "required" HTML attribute"
The Form.TextArea component is missing the "required" HTML attribute, which Form.Input has.
Is there any workaround around this, as the project seems dead and I don't think the issue is going to actually be resolved.

[2020-08-03 12:41] colorninja opened #526 "Implement defaultValue on inputs and textarea"
Tabler looks great but there is a problem with implementing forms with it. In some use cases one might want to use the defaultValue prop on `input` and `textarea` elements.

There has been a pull request for this already: https://github.com/tabler/tabler-react/pull/515 https://github.com/tabler/tabler-react/pull/495

I understand that v2 is under active development and priority but it would be nic

[2020-08-15 06:04] shunnmugam opened #527 "Margin issue in tag (version 2)"

[2020-08-20 08:44] nhhuyen opened #528 "df"

[2020-08-22 02:21] cangir opened #529 "Would You Rather App with Tabler-react"
I would like to thank Tabler-react authors for this repo. Anyone interested seeeing my project is welcome.
[Demo](https://cangir.github.io/udacity-reactnd-would-you-rather/)
[Installing Instructions and details](https://medium.com/@cangir/udacity-react-nanodegree-would-you-rather-app-38d299bc5bb3)

[2020-08-27 19:18] 6LACK-N1NJA opened #530 "Tabindex in Form.Input component"
Please add tabindex prop to Form.Input component. I think it will be very helpful for a lot of people

[2020-09-01 17:02] SalahAdDin opened #531 "Form.Input clickable or Time Picker."
Hi,

I'm making a full dashboard using your package and it is going on, but i had to make some tricky things to get done some things; one of them is a time picker: since this package has no a **datetime picker** we had to use `react-datetimepicker` which is useful to make a timepicker though a few cumbersome.

Ass you can see in the [documentation](https://reactdatepicker.com/#example-custom-input

[2020-09-02 07:19] SalahAdDin commented on #458
Is this still in progress?

[2020-09-03 07:52] SalahAdDin opened #532 "What does feedback property do on Form.Input?"
More than an issue this is a question:

I'm passing the `formik` validation errors and the API fetching errors as `Form.Input` error and feedback properties, no any problem till here.

The problem comes when I pass the feedback and it is not showed in the page:
![Screen Capture_select-area_20200903003803](https://user-images.githubusercontent.com/5034215/92086202-88aa5200-edd2-11ea-9255-835b2ba853

[2020-09-29 18:30] gucarletto opened #539 "Grid/Table Pagination"
I can't seen to find examples or documentation on pagination of grids, like this from tabler.io:
![image](https://user-images.githubusercontent.com/1106206/94600857-f0847900-0268-11eb-80f9-46ddacca0e78.png)

Is this really not implemented or am I just not finding? If it's the latter can anyone point me where to find it?

[2020-10-02 04:19] JimmyKho commented on #539
Hi @gucarletto, I'm looking for the pagination component too. Seems like its not available in the tabler-react version yet.

[2020-10-05 13:23] shadysamir opened #540 "Is this project still maintained?"
It seems like the last commit was 15 months ago and there is no further progress. Examples are using very old dependencies.

[2020-10-05 14:01] shadysamir commented on #458
I was wondering in #540 if this is still going forward. We came across is today and honestly speaking there is nothing else similar to it everywhere we looked.

[2020-10-28 09:02] ghanem-mhd commented on #299
@moraes65
In case the warning is still bothering you, you can fix it by modifying the `withRouter` call inside the SiteWrapper.react.js.

Change this:
` LinkComponent: withRouter(NavLink)`

To This:
`withRouter(({staticContext, ...props}) => { return <NavLink {...props}/>})`

More about the issue of the static context inside the router  [here](https://github.com/ReactTraining/react-router/issues/4

[2020-11-04 08:18] sbenfares commented on #540
I don't think....

If some people are interested, we should reimplement a new react version when the version 1.0.0 of tabler will be released.

[2020-11-06 16:37] aytaa opened #542 "eslint 5.12.00"
İ can not start example. Can you help me anybody ?

[2020-11-06 22:18] katalonne opened #543 "Add indeterminate prop to Form.Checkbox"
Can fill a PR for this! Is it welcoming?
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#indeterminate

[2020-11-10 17:33] Oxicode commented on #543
This project is dead

[2020-11-11 01:15] katalonne commented on #540
If this project is not maintained then no version will be released, lol

[2020-11-13 03:05] GeuntaBuwono commented on #458
how to contribute ?
this project still progress version 2 ?

[2020-11-14 09:31] anhhtz opened #544 "Could I use demo (example) tabler-react in production ?"
Could I use demo (example) tabler-react in production ?

I run `yarn install` and `yarn start` in `example` directory. The console is show `Compiling...`, the browser show

[code]

[2020-11-14 09:36] #544 closed

[2020-12-10 08:06] MarcoSapienza commented on #474
Hello everybody,

there are some good news about this issue?

Thanks in advance

[2020-12-19 23:09] v1sion commented on #540
Would be really nice if someone with time would pick this up 👍

[2020-12-20 02:12] v1sion commented on #458
Is this still going further, would really be amazing if so 👍

[2020-12-20 09:36] berkozagir commented on #511
Hi, i have the same problem. Did you find a solution?

[2020-12-27 21:20] edwinvandeven commented on #511
Same here... Some css seems to be missing. Although not a pretty solution, I've added this to a custom css file which I import in my App.js for the time being:

[code]

Please note that I haven't thoroughly checked it. Haven't run into issues with it yet... however your mileage may vary.

[2020-12-31 23:43] joshsny commented on #540
Would be happy to set up a community fork and work on releasing the new Tabler version if others are interested...

[2021-01-11 14:52] alihamza-datics opened #548 "Tabler react loading time is too much"
I'm using these utilities from tabler react in login page
import { Button, Card, Form, Icon } from 'tabler-react';
and it is taking way too much to load e.g 19.24s
![image](https://user-images.githubusercontent.com/66749557/104196920-321ae780-5446-11eb-93ef-5881b774d262.png)
any help will be appreciated

[2021-01-16 18:41] pillows commented on #540
I would definitely be interested in this. Tabler is very nice, it's just that the react version doesn't exactly match the current one.

[2021-01-18 08:29] sbenfares commented on #540
How many people are ok to work on a new react version of tabler ?
We could share a Slack workspace for organizing tasks if you're in

[2021-01-19 11:18] joshsny commented on #540
So having taken a lot on at work, I wouldn't be able to be a major contributor to this, but I'd be happy to help out by way of reviewing pull requests and offering buts here and there.

[2021-01-27 17:57] venuziano opened #549 "Translate 'Mark All As Read' button"
I have to display 'Mark All As Read' label of 'Mark All As Read' button in other languages. Is there a way to do that?

![image](https://user-images.githubusercontent.com/15386984/106032806-b361b380-60af-11eb-8e21-912355fe833a.png)

Already tried to change files of ``node_modules`` but got no success.

[2021-01-27 19:21] venuziano commented on #549
Well, a simple application restart applied the changes.

[2021-01-29 13:38] kangah-codes commented on #540
We definitely need a new version of tabler react which matches the new components they have, that'll be sweet!

[2021-02-04 07:47] oleksandr-luxmedien commented on #540
@joshsny You say that you would be happy to review pull requests but what about those 34 that hang there?
I like tabler-react a lot but am trying to figure out is it worth to invest time into support of it.

[2021-02-17 04:39] mdestafadilah commented on #548
It's stil not issued?

[2021-02-21 22:59] jonthomp commented on #540
I've been working on a new framework for building out the components for the new version. I've had less spare time than I hoped but this weekend I finally got the system into an ok place and started to build out the component set.

I want to get a few more components built with the new system before making a public branch but expect to see something by the end of this week

[2021-02-25 10:47] jonthomp commented on #458
It's alive and coming soon!

[2021-03-04 07:36] ishivamshukla commented on #347
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.  ?

[2021-03-05 06:35] rrjanbiah opened #559 "SCSS version for Tabler.css"
Current master https://github.com/tabler/tabler-react/blob/master/src/Tabler.css file is different from the core Tabler.css. Also, can't get any clue about the source or modifications done by git blame https://github.com/tabler/tabler-react/blame/master/src/Tabler.css

Adding SCSS version for it will be of real help.

[2021-03-07 17:31] colorninja opened #560 "Is there going to be version 1 support after v2 release?"
I am using tabler-react in a fairly big project and I would like to know whether v1 will still be maintained after the v2 release. I would love to add typing to the v1 of this project and do some improvements like (to be edited).

Are you still going to merge new features into the new branch? If so, how would it work as tabler/tabler package? Would the dependency get updated to the latest version?

[2021-03-07 17:37] colorninja opened #561 "Replace text-decoration-skip: ink to text-decoration-skip-ink: auto"
What is the problem?
If you're using the RTL version of tabler, the eslint complains about outdated spec when compiling css.

Expected behavior:
It should compile without a warning.

Actual behavior:
The following warning is produced:
[code]

[2021-03-17 01:27] Kilerd commented on #548
I think it loaded the entire tabler module.

[2021-04-01 17:41] rrjanbiah commented on #559
Update:

If anyone else is reading this, this `tabler-react` is using Bootstrap 4.0.0 and using tabler v0.0.31 (https://github.com/tabler/tabler/releases/tag/v0.0.31)

So, to get the SCSS version, have to refer https://github.com/tabler/tabler/tree/00f78ad823311bc3ad974ac3e5b0126198f0a813

Another important note: For some reasons, have to modify https://github.com/tabler/tabler/blob/00f78ad823311b

[2021-04-01 17:41] #559 closed

[2021-04-06 17:18] katalonne opened #565 "Where's the old website for v1?"

[2021-04-08 06:56] mdestafadilah opened #566 "React-Hook-Form Property in Form.Input"
Hi, I Just follow in [Login.Page](https://github.com/tabler/tabler-react/blob/master/example/src/pages/LoginPage.react.js) but i'm not using Formik, i'm using react-hook-form, i'm trying testing with

[code]
reproduce
[code]

but in react-hook-form we must [register ](https://react-hook-form.com/api/useform/register)every input with ref tag with `{...register("test")}`

if i'm using

[code]

it's

[2021-04-13 23:13] venuziano commented on #549
Reopen because somehow it stopped working. Had to download node_modules again and can't figure out how to translate "Mark all as read".

I remember in the first time change line 71 of node_modules/tabler-react/components/Notification/NotificationTray.react.js.flow to what i wanted and it worked (if i'm not crazy about that).

So, is there a way to translate this labels?

[2021-04-15 17:32] YeapGuy commented on #565
Bump. I need the docs for v1, why was it switched out to a semi-functional alpha?? Additionally, the docs are unusable even for the alpha as a lot of the elements render wrong or don't render at all AND the props & methods list include the inherited ones.

[2021-04-17 15:27] YeapGuy commented on #565
Since I really needed the old docs, I digged around in this repo and downloaded the v1 demo site back from 2019. I've put it up [here](http://oldtablerdocs.yeapguy.gq/) (the documentation itself is therefore [here](http://oldtablerdocs.yeapguy.gq/documentation/index.html)). @katalonne @foxyblue hopefully this helps :)

[2021-04-21 04:04] mdestafadilah opened #567 "Icoan Custom"
Can we use icon from others, like, react-icons ? in fontAwesome it's not completed icon what i want.

[2021-04-28 08:40] joshsny commented on #565
Thanks for doing that @YeapGuy. Also needed this and it was very helpful!

[2021-05-10 00:51] cammurray commented on #540
@jonthomp how did you go with your new branch?

[2021-05-24 14:51] vinodvarma24 commented on #542
Just create .env file in example folder. andd add "SKIP_PREFLIGHT_CHECK=true" to it.

It should be up and running.

[2021-05-29 13:20] vinodvarma24 commented on #458
@jonthomp This repo is great. Thanks for all the good work. Do you have any clue on when will the next version coming on this? I would be glad to contribute if there is a road map.

[2021-05-29 17:01] ChessUsername opened #575 "Error: Can't resolve '/img/flags/ad.svg'"
HI, i've installed `"tabler-react": "^2.0.0-alpha.1"` and I'm stuck with this error:

[code]

How can I solve it?
Already tried to delete node_modules and redoing `npm install` but this didn't solve the problem.
Btw, with `"tabler-react": "^1.30.1"`, there is no error but I need StatsCard with charts, so I need the 2.0.0-alpha.1 version...

Thank for the help!

[2021-05-29 19:48] jonthomp commented on #458
Thanks @vinodvarma24, I don't really know. To be honest, I went hard on a big refactor in my spare time a while back and kind of burnt myself out a bit then I was heavy in some work stuff.
Now I am a free agent again and working on some side projects, I'll get my WIP tidied up and pushed up soon. Then I'll draw up a little plan of attack for getting involved

[2021-05-29 21:22] jonthomp commented on #458
Thanks @vinodvarma24, I went hard on a big refactor a while back but work had to take priority of course :(.
Now I am a free agent again and working on some side projects, I'll get my WIP tidied up and pushed up soon. Then I'll draw up a little plan of attack for getting involved.

[2021-06-05 20:01] esskar commented on #575
Having the same issue. Thought the problem is that the flags are located in `images` folder and not in `img`, but changing it, does not help

[2021-06-05 20:06] esskar commented on #575
Changing it to `"./images/flags/ad.svg"` (replacing all `/img` to `./images/`) helps a little bit, but that it complains about `'./images/flags/es-ct.svg'` which indeed does not exist.

[2021-06-10 05:39] rahulakrishna opened #578 "[Feature Request] Add support for iconPosition in Button"
By default passing an `icon` prop to button places it to the left of the text. Sometimes you need the icon to the right side (eg: button with text `Next ->`)

I can pick this up if the issue is accepted

[2021-08-02 07:57] Kilerd opened #579 "is the repo still alive?"

[2021-08-02 07:59] Kilerd commented on #579
though alpha of version 2 is released, there are still a lot missing components, like modal, alert.
I dont think it can meet the need of large project.

[2021-08-24 07:58] samrocksc commented on #565
You're the real hero @YeapGuy

[2021-09-03 06:56] MahendraBishnoi29 commented on #575
You Have to Put A Dot In Starting

[2021-10-27 02:55] mdestafadilah commented on #579
I Think you must get another ui-f/w for your development, i see, not have progress at all. i'm using chakra-ui now and react-bootstrap instead. good luck.

[2022-02-18 04:03] abhayshiravanthe opened #595 "Is Tabler React official DEAD IN 2022 ?"
Can you please provide some light on what future holds for Tabler-React and its users?

We are seriously thinking about migrating away to a more stable library. :-(

[2022-03-18 05:37] CaliforniaLuv commented on #575
There are no components in the node module.
Currently, when you install that version, many folder files do not exist...

[2022-05-12 16:56] #505 closed

[2022-05-15 03:13] AngelAlexQC commented on #595
I want that the best option is to make a new project from scratch, implementing best practices and best management.

[2022-06-08 04:43] rrjanbiah commented on #458
Bump! Would be interested to get the status. Thanks

[2022-06-14 15:26] PranuPranav97 opened #597 "Typescript Definitions"
Typescript definitions not found.

[2022-08-16 09:58] odwrotnie commented on #595
Is it dead?

[2022-10-24 08:44] mdestafadilah commented on #595
up up

[2022-10-28 22:07] capitan138 commented on #595
ward